//
// Color type-1
// --------------------------------------------------

//brand-colors
$base-color-lighten-1: #e6f2f2;
$base-color-lighten-1-dark: darken($base-color-lighten-1, 10%);

$base-color-lighten: #c3e5e5;
$base-color-light: #1f91da;
$base-color-main: #a6c42a;
$base-color-dark: #0072bb;
$base-color-darken: #204040;


//brand-info
$color-type-1a: #3fa9ef;
$color-type-1b: #297ca6;
$color-type-1c: #1e61a6;

//brand-danger
$color-type-2a: #e55c5c;
$color-type-2b: #d93636;
$color-type-2c: #e52222;

//brand-warning
$color-type-3a: #ffaa00;
$color-type-3b: #ff9500;
$color-type-3c: #ff7f00;

//brand-success
$color-type-4a: #05a541;
$color-type-4b: #53a661;
$color-type-4c: #269973;

//brand-info
$color-type-6a: #41b5cc;
$color-type-6b: #cad3df;

//black&white
$white-lighten: #fff;
$white: #f4f4f4;
$white-darken: #f0f0f0;

$gray-lighten: #eaeaea;
$gray-lighten2: #aaaaa9;
$gray: #8e8e8e;
$gray-darken: #ccc;
$gray-darken-1: #bbb;
$gray-darken-2: #9f9f9f;

$black: #373835;
$black-darken: #000;
