.blogs.is-row
	.is-col.is-col__md-4.is-col__xs-12
		a.blogs-item(href='#')
			.blogs-item__img: img(src='images/main-gal_6.jpg', alt='')
			.blogs-item__inner
				.blogs-item__head
					.blogs-item__date
						.num 12
						.type ИЮЛЯ, #[br] 2018
					.blogs-item__tag Новости
				.blogs-item__title Главные правила использования для BioDeka-5
				.blogs-item__desc BioDeka-5 пользуется самым большим спросом среди нашей продукции. Узнайте большео преимуществах и условиях установки и пользования.
				.blogs-item__link
					.btn.btn-link
						span Подробнее
						span.icon-right
	.is-col.is-col__md-4.is-col__xs-12
		a.blogs-item(href='#')
			.blogs-item__img: img(src='images/main-gal_6.jpg', alt='')
			.blogs-item__inner
				.blogs-item__head
					.blogs-item__date
						.num 12
						.type ИЮЛЯ, #[br] 2018
					.blogs-item__tag Обслуживание
				.blogs-item__title Главные правила использования для BioDeka-5
				.blogs-item__desc BioDeka-5 пользуется самым большим спросом среди нашей продукции. Узнайте большео преимуществах и условиях установки и пользования.
				.blogs-item__link
					.btn.btn-link
						span Подробнее
						span.icon-right
	.is-col.is-col__md-4.is-col__xs-12
		a.blogs-item(href='#')
			.blogs-item__img: img(src='images/main-gal_6.jpg', alt='')
			.blogs-item__inner
				.blogs-item__head
					.blogs-item__date
						.num 12
						.type ИЮЛЯ, #[br] 2018
					.blogs-item__tag Советы
				.blogs-item__title Главные правила использования для BioDeka-5
				.blogs-item__desc BioDeka-5 пользуется самым большим спросом среди нашей продукции. Узнайте большео преимуществах и условиях установки и пользования.
				.blogs-item__link
					.btn.btn-link
						span Подробнее
						span.icon-right
