section.cardBen
	.container
		h2 Преимущества продукции
		.is-row.benefitsComp
			.is-col.is-col__md-4.middleCenteredFlex.margBot-40
				span.is-icons.is-icons--ben-1
				span Расширенная #[br] 5-летняя гарантия
			.is-col.is-col__md-4.middleCenteredFlex.margBot-40
				span.is-icons.is-icons--ben-2
				span Высокое качество #[br] очистки стоков
			.is-col.is-col__md-4.middleCenteredFlex.margBot-40
				span.is-icons.is-icons--ben-3
				span Отсутствие #[br] неприятных запахов
			.is-col.is-col__md-4.middleCenteredFlex.margBot-40
				span.is-icons.is-icons--ben-4
				span Очистка любых #[br] хозяйственно-бытовых #[br] стоков
			.is-col.is-col__md-4.middleCenteredFlex.margBot-40
				span.is-icons.is-icons--ben-6
				span Не "всплывает" #[br] в высоких #[br] грунтовых водах
			.is-col.is-col__md-4.middleCenteredFlex.margBot-40
				span.is-icons.is-icons--ben-5
				span Монтаж в любом #[br] типе грунта
