section.cardInfo.animate
	.container
		include ../components/_breadcrumbs
		.mainTitle.hidden__md.hidden__lg.hidden__xl
			img(src='images/bio.svg', alt='')
			h1= title
		.is-row.bottom__xs.p-relative
			.is-col.is-col__md-7.is-col__xs-12.p-relative.last__xs.first__md
				.mainTitle.hidden__sm.hidden__xs
					img(src='images/bio.svg', alt='')
					h1= title
				.is-row.middle__xs.margBot-50
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
						span.is-icons.is-icons--card-1
						span Количество человек #[b.text--success 5]
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
						span.is-icons.is-icons--card-2
						span Размеры #[b.text--success 1,06 х 1,06 х 2.34]
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
						span.is-icons.is-icons--card-3
						span Объем переработки стоков  #[b.text--success 1 м3/сут]
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
						span.is-icons.is-icons--card-4
						span Вес #[b.text--success 150 кг]
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
						span.is-icons.is-icons--card-5
						span Объем залпового сброса #[b.text--success 250 л]
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
					.is-col.is-col__md-6.middleCenteredFlex.margBot-20
						span.is-icons.is-icons--card-6
						span Электропотребление #[b.text--success 60 кВт/сут]
			.is-col.is-col__md-5.text--right.p-relative.is-col__xs-12
				.back: img(src='images/Ellipse.png', alt='')
				img(src='images/card.png', alt='')
