section.cardSert
	.container.p-relative
		.mainSert-inner
			h2 ТТХ и сертификаты
			.swiper-sert
				.swiper-wrapper
					.swiper-slide.sert-load
						.inner
							.is-row.between__xs
								.is-col.is-col__md-7: b Технико-технические характеристики
								.is-col.text__sm 16,7кб
							.img
								img(src='images/excel.png', alt='')
							.is-row.between__xs
								.is-col.is-col__md-6: b BioDeka
								.is-col.is-col__md-6
									a.text--success.text--nowrap(href='')
										b Скачать
										span.icon-download
					- for (var x = 1; x < 3; x++)
					a.swiper-slide(href='images/main-gal_8.jpg')
						.mainSert-search: img(src='images/search-wh.svg', alt='')
						.mainSert-back
							span
							img(src='images/main-gal_8.jpg', alt='')
						.mainSert-txt Сертификат поставщика продукции, товаров, работ и услуг для государственных и муниципальных нужд
					a.swiper-slide(href='images/main-gal_8.jpg')
						.mainSert-search: img(src='images/search-wh.svg', alt='')
						.mainSert-back
							span
							img(src='images/main-gal_8.jpg', alt='')
						.mainSert-txt Рекомендации руководителям государственных и муниципальных образований
					a.swiper-slide(href='images/main-gal_8.jpg')
						.mainSert-search: img(src='images/search-wh.svg', alt='')
						.mainSert-back
							span
							img(src='images/main-gal_8.jpg', alt='')
						.mainSert-txt Сертификат менеджмента качества ISO 9001:2011
					a.swiper-slide(href='images/main-gal_8.jpg')
						.mainSert-search: img(src='images/search-wh.svg', alt='')
						.mainSert-back
							span
							img(src='images/main-gal_8.jpg', alt='')
						.mainSert-txt Декларации о соответствии на установки серий Дека и Дека-Проф
				.swiper-settings
					.swiper-btnS-prev: span.icon-left
					.swiper-btnS-next: span.icon-right
		.mainSert-color
