section.cardForm
	.container
		.questionsPage-form
			form.is-col__md-10(method='POST', action='')
				h2 Остались вопросы #[br] по этому продукту?
				.textField.margTop-30.margBot-30
					.is-row.middle__xs
						.is-col.is-col__md-6.is-col__xs-12
							.is-row.middle__xs.flex-nowrap
								.is-col
									span.is-icons.is-icons--phone
								.is-col
									span Позвоните по номеру
									br
									b 8 (800) ХХХ-ХХ-ХХ
						.is-col.is-col__md-6.is-col__xs-12
							.is-row.middle__xs.flex-nowrap
								.is-col
									span.is-icons.is-icons--laptop
								.is-col
									span Или спросите здесь
				.is-row
					.is-col.is-col__md-6.is-col__xs-12
						.form__group
							input.control(type='text', placeholder='ФИО')
						.form__group
							input.control(type='text', placeholder='Ваш телефон', name='phone')
						.form__group
							input.control(type='email', placeholder='Ваш Email')
					.is-col.is-col__md-6.is-col__xs-12
						.form__group
							textarea.control(rows='8', placeholder='Ваш вопрос')
				.is-row.middle__xs
					.is-col.is-col__md-6.is-col__xs-12
						.checkbox
							input(type="checkbox", id='item', checked)
							label.text--white(for='item') Нажимая на кнопку Отправить, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
					.is-col.is-col__md-6.is-col__xs-12
						button.btn.btn--outlined.btn--full(type='submit')
							span Отправить
							span.icon-right
				.mainForm-img-1.paroller(data-paroller-factor="0.4" data-paroller-type="foreground"): img(src='images/main-leaf-1.png', alt='')
				.mainForm-img-2.paroller(data-paroller-factor="0.4" data-paroller-type="foreground"): img(src='images/main-leaf-2.png', alt='')
			.mainForm-back: img(src='images/main-gal_7.jpg', alt='')
