nav.nav
	if adaptive == true
		button.hamburger.hamburger--slider.hamburger--js(type="button")
			span.hamburger-box
				span.hamburger-inner
		.main-nav__collapse
			+menu(navigation)
			.page-info
				a.page-info__phone(href='88005553535') 8 800 555-35-35
				br
				a.page-info__mail(href='mailto:info@deka.ru') info@deka.ru
			.page-social
				a(href='#'): span.icon-facebook
				a(href='#'): span.icon-vkontakte
				a(href='#'): span.icon-instagram
				a(href='#'): span.icon-twitter
				a(href='#'): span.icon-youtube-play
			a.page-click(href='#') Получить консультацию
	else
		+menu(navigation)
