#modal.mfp-hide.white-popup-block
	form(method='POST', action='')
		h2 Оставьте заявку на консультацию
		.form__group
			input.control(type='text', placeholder='Ваш телефон', name='phone')
		.form__group
			input.control(type='email', placeholder='Ваш Email')
		.form__group
			textarea.control(placeholder='Комментарий')
		.form__group.margBot-40
			.checkbox
				input(type="checkbox", id='item', checked)
				label(for='item') Нажимая на кнопку Получить консультацию, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
		button.btn.btn--outlined.btn--full.btn--js(type='submit')
			span Получить консультацию
			span.icon-right
		button.btn.btn--outlined.btn--full.sent--js(style='display:none')
			span Отправить еще
			span.icon-right
		.mainForm-img-1: img(src='images/main-leaf-1.png', alt='')
		.mainForm-img-2: img(src='images/main-leaf-2.png', alt='')
