section.mainReview
	.container
		.mainReview-inner
			h2 Отзывы
			.swiper-review
				.swiper-wrapper
					.swiper-slide
						.mainReview--video
							a.watchMark.popup-video(href='http://www.youtube.com/watch?v=0O2aH4XLbto'): img(src='images/watch.svg', alt='')
							img(src='images/main-gal_5.jpg', alt='')
							.mainReview-info
								span
								.text__md
									div #[span.text--success Ирина,] Красное Село
									i.text--grey отзыв о BioDeka-5
					- for (var x = 1; x < 4; x++)
						.swiper-slide
							.mainReview--txt
								img(src='images/main-gal_5.jpg', alt='')
								.mainReview-text Вода дома кристально чистая, с установкой не было никаких проблем. Обслуживание Biodeka  простое и не затратное. Вам НЕ потребуется ассе-низаторская машина,  следовательно она не испортит. Вам не  придется  закупать  биологические  добавки.
								.mainReview-info
									span
									.text__md
										div #[span.text--success Сергей Орехов]
										i.text--grey отзыв о Genesis G-500
				.swiper-settings
					.swiper-btnR-prev: span.icon-left
					.swiper-btnR-next: span.icon-right
			.is-row.between__xs.margTop-40
				.is-col.is-col__xl-55.is-col__md-6.is-col__xs-12
					a.btn.btn--success.btn--full(href='#')
						span Все отзывы
						span.icon-right
				.is-col.is-col__xl-55.is-col__md-6.is-col__xs-12
					a.btn.btn--default.btn--full(href='#')
						span Оставить отзыв
						span.icon-right
