//
// Base -> Buttons
// --------------------------------------------------

.btn {
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	height: 60px;
	text-decoration: none;
	background-image: none;
	border: 1px solid transparent;
	border-left: 4px solid transparent;
	font-family: 'geometriaBold';
	position: relative;
	z-index: 5;

	@extend .centeredFlex;

	@include button-size(5px, 35px, $base-font-size, $base-line-height, $btn-border-radius-base);

	min-width: 210px;
	@media screen and (max-width: $screen-sm-max) {
		min-width: 180px;
		height: 45px;
		@include button-size(5px, 10px, 13px, $base-line-height, $btn-border-radius-base);
	}

	span {
		vertical-align: middle;
	}
	[class^="icon-"] {
		font-size: 14px;
		left: 10px;
		position: relative;
		transition: left 0.3s;
	}
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all 0.3s;
	}

	&:hover,
	&:focus,
	&.focus {
		color: $btn-default-color;
		text-decoration: none;
		&:after {
			width: 100%;
		}
		[class^="icon-"] {
			left: 20px;
		}
	}

	&-link {
		border: none;
		padding: 0;
		height: auto;
		min-width: inherit;

		&:hover {
			color: $base-color-main;
		}
	}

	&--full {
		width: 100%;
		& + & {
			margin-top: 5px;
		}
	}

	&--natural {
		vertical-align: baseline;
		font-size: inherit;
		line-height: inherit;
		padding-right: 0.5em;
		padding-left: 0.5em;
	}

	&--default {
		@include button-variant-tr2($btn-default-color, $btn-default-bg, $btn-default-border);
	}

	// Color buttons
	@if $use-btn-color == true {
		&--primary {
			@include button-variant-tr($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
		&--success {
			@include button-variant-tr($btn-success-color, $btn-success-bg, $btn-success-border);
		}
		&--info {
			@include button-variant-tr($btn-info-color, $btn-info-bg, $btn-info-border);
		}
		&--warning {
			@include button-variant-tr($btn-warning-color, $btn-warning-bg, $btn-warning-border);
		}
		&--danger {
			@include button-variant-tr($btn-danger-color, $btn-danger-bg, $btn-danger-border);
		}
		&--outlined {
			@include button-variant($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);

		}
	}

	// Button Sizes
	@if $use-btn-size == true {
		&__lg {
			@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-btn, $btn-border-radius-large);
			height: 55px;
		}
		&__sm {
			@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-medium, $line-height-btn, $btn-border-radius-small);
			height: 40px;
		}
		&__xs {
			@include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
			height: 35px;
		}
	}

	&--round {
		@include border-radius(50px);
	}

	&--dashed {
		border-style: dashed;
		border-width: 1px;
	}

	// Button group
	@if $use-btn-group == true {
		&-group {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			> .btn {
				position: relative;
				float: left;
				&:first-child {
					margin-left: 0;
					&:not(:last-child) {
						@include border-right-radius(0);
					}
				}
				&:last-child:not(:first-child) {
					@include border-left-radius(0);
				}
				&:not(:first-child):not(:last-child) {
					border-radius: 0;
				}
				+ .btn {
					margin-left: -1px;
				}
			}

			&--justified {
				display: table;
				width: 100%;
				table-layout: fixed;
				border-collapse: separate;
				> .btn {
					float: none;
					display: table-cell;
					width: 1%;
				}
			}
		}
	}
}
