//
// Modules -> Forms
// --------------------------------------------------

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $line-height-computed;
	font-size: ($base-font-size * 1.5);
	line-height: inherit;
	color: $legend-color;
	border: 0;
}

label {
	display: block;
	max-width: 100%;
	margin: 5px 0;
	color: #8493a8;
}

input[type="search"] {
	@include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9
; // IE8-9
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

select[multiple],
select[size] {
	height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus;
}

// Common form controls
.control {
	display: block;
	width: 100%;
	height: 35px;
	padding: 10px $padding-base-vertical 10px 0;
	font-size: 13px;
	line-height: $base-line-height;
	color: $input-color;
	background-color: $input-bg;
	background-image: none;
	border: none;
	border-bottom: 1px solid $input-border;
	border-radius: $input-border-radius;
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	@media screen and (min-width: $screen-md-min) {
		height: $input-height-base;
		font-size: $base-font-size;
		padding: $padding-base-vertical $padding-base-vertical $padding-base-vertical 0;
	}

	&:hover {
		border-color: $base-color-main;
	}

	@include form-control-focus;

	@include placeholder;

	&.error {
		color: $color-type-3a !important;
		border-color: $color-type-3a !important;
		&::placeholder {
			color: $color-type-3a !important;
		}
	}

}

// Reset height for `textarea`s
textarea.control {
	height: auto;
	resize: none;
	overflow: auto;
	font-family: 'geometriaRegular';
}

select.control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 40px;
	padding: 5px 30px 5px 15px;
	border: 1px solid #e1e1e1;
	background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;
	&:focus {
		background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
	}
	@media screen and (min-width: $screen-md-min) {
		height: 60px;
	}
}

// Search inputs in iOS
input[type="search"] {
	-webkit-appearance: none;
}

.form__group {
	margin-bottom: $form-group-margin-bottom / 2;
	@media screen and (min-width: $screen-xl-min) {
		margin-bottom: $form-group-margin-bottom;
	}
}

// Checkboxes and radios
.radio,
.checkbox {
	position: relative;
	display: block;
	color: rgba($black, 0.5);

	label {
		padding-left: 30px;
		margin: 0;
		cursor: pointer;
		line-height: 1.6;
		font-size: 10px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 13px;
			padding-left: 36px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 4px;
			display: block;
			width: 21px;
			height: 21px;
			border: 1px solid $input-border;
			background-color: $input-bg;
		}
	}
}

.checkbox {
	input[type="checkbox"] {
		display: none;
	}
}

.radio {
	input[type="radio"] {
		display: none;
	}
}

.checkbox label {
	&:after {
		//@include border-radius(5px);
	}
}

.radio label {
	color: #373835;
	font-size: 14px;
	&:after {
		@include border-radius(50%);
		background-color: #eeeeee;
		border: none;
	}
}

.checkbox input[type="checkbox"]:checked + label:after {
	background: url('../images/icons/checkbox.svg') center center no-repeat, $input-bg;
}

.radio input[type="radio"]:checked + label:after {
	background: url('../images/icons/icon-radio.svg') center center no-repeat, #eeeeee;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-top: 20px;
}



.file_upload {
	position: relative;
	overflow: hidden;
	font-size: 1em;
	height: 40px;
	border: 1px dotted #a8a8a8;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (min-width: $screen-md-min) {
		height: 60px;
	}
	input[type=file]{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer
	}
	.is-icons {
		margin-right: 13px;
	}
	+ .files {
		color: $color-type-4a;
		display: none;
		&.show {
			margin-top: 10px;
			display: flex;
		}
		.files-close {
			color: $color-type-4a;
			font-size: 17px;
			cursor: pointer;
		}
	}
}
