//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;

	small {
		font-weight: normal;
		line-height: 1;
	}
}

h1,
h2,
h3 {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed-half;

	small {
		font-size: 65%;
	}
}

h4,
h5,
h6 {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed-half;

	small {
		font-size: 75%;
	}
}

h1, .alpha {
	font-size: 18px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h1;
	}
}

h2, .beta {
	font-size: 18px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h2;
	}
}

h3, .gamma {
	font-size: 18px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h3;
	}
}

h4, .delta {
	font-size: 16px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h4;
	}
}

h5, .epsilon {
	font-size: 13px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h5;
	}
}

h6, .zeta {
	font-size: $font-size-h6;
}


// Body text
p {
	margin: 0 0 $line-height-computed-half;
}

b {
	font-weight: 700;
	font-family: 'geometriaBold';
}

// Alignment
.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--center {
	text-align: center;
}

.text--justify {
	text-align: justify;
}

.text--nowrap {
	white-space: nowrap;
}


// Responsive alignment
@if $use-adaptive == true {
	@media screen and (min-width: $screen-sm-min) {
		.text__sm--left {
			text-align: left;
		}
		.text__sm--right {
			text-align: right;
		}
		.text__sm--center {
			text-align: center;
		}
	}
	@media screen and (min-width: $screen-md-min) {
		.text__md--left {
			text-align: left;
		}
		.text__md--right {
			text-align: right;
		}
		.text__md--center {
			text-align: center;
		}
	}

	@media screen and (min-width: $screen-lg-min) {
		.text__lg--left {
			text-align: left;
		}
		.text__lg--right {
			text-align: right;
		}
		.text__lg--center {
			text-align: center;
		}
	}

	@media screen and (min-width: $screen-xl-min) {
		.text__xl--left {
			text-align: left;
		}
		.text__xl--right {
			text-align: right;
		}
		.text__xl--center {
			text-align: center;
		}
	}
}


// Transformation
.text--lowercase {
	text-transform: lowercase;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--capitalize {
	text-transform: capitalize;
}


// Text size
.text__sm {
	font-size: 10px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-small;
	}
}

.text__md {
	font-size: 13px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-medium;
	}
}

.text__lg {
	font-size: 16px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-large;
	}
}


@if $use-color-text == true {
	// Color text
	@include text-emphasis-variant('.text--primary', $base-color-main);
	@include text-emphasis-variant('.text--success', $color-type-4a);
	@include text-emphasis-variant('.text--info', $color-type-1a);
	@include text-emphasis-variant('.text--warning', $color-type-3a);
	@include text-emphasis-variant('.text--danger', $color-type-2a);
	@include text-emphasis-variant('.text--grey', $gray-lighten2);
	@include text-emphasis-variant('.text--white', $white-lighten);
	@include text-emphasis-variant('.text--dgrey', #9e9e9e);
}

.regular {
	font-weight: 300;
	font-family: 'geometriaRegular';
}


// Lists
ul,
ol {
	margin-top: 0;
	margin-bottom: $line-height-computed-half;

	ul,
	ol {
		margin-bottom: 0;
	}
}

.list {
	&--unstyled {
		@include list--unstyled;
	}

	&--inline {
		@include list--unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&--bullet {
		@include list--unstyled;
		margin-left: 11px;

		> li {
			margin-bottom: $line-height-computed / 2.6;

			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: '';
				width: 16px;
				height: 16px;
				display: inline-block;
				background-color: $color-type-4a;
				border: 4px solid #e6f6ec;
				margin-right: 14px;
			}
		}
	}

	&--number {
		counter-reset: items;
		padding-left: 0;
		margin-left: 11px;

		> li {
			margin-bottom: $line-height-computed / 2.6;

			&::before {
				counter-increment: items 1;
				content: counter(items, decimal) ".";
				font-size: 16px;
				width: 15px;
				display: inline-block;
				color: $color-type-4a;
				margin-right: 5px;
				font-weight: 600;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


// Blockquotes
blockquote {
	padding: 0 15px;
	margin: $line-height-computed * 1.3 0;
	font-size: 13px;
	position: relative;
	min-height: 50px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $blockquote-font-size;
		padding: 0 $line-height-computed;
	}

	&:before {
		content: '';
		height: 50px;
		width: 4px;
		background-color: $color-type-4a;
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
