//
// Partials -> Aside
// ------------------------------------


.page {
	&-aside {
		position: fixed;
		left: 0;
		top: 0;
		//width: 150px;
		display: none;
		height: 100%;
		z-index: 992;
		background: $white-lighten;
		border-right: 1px solid $gray-lighten;
		padding-top: 20px;
		//flex-direction: column;
		//justify-content: center;
		@media screen and (min-width: $screen-lg-min) {
			width: 200px;
			display: block;
		}
		@media screen and (min-width: $screen-xl-max) {
			padding-top: 30px;
			width: 240px;
		}
	}
	&-menu {
		padding: 10px 0;
		margin: auto;
		@media screen and (min-width: $screen-lg-min) {
			margin: 3vh auto;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin: 5vh auto;
		}
	}
	&-set {
		margin-top: auto;
		@media screen and (min-width: $screen-lg-min) {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	&-logo {
		img {
			width: 80px;
		}
		@media screen and (min-width: $screen-md-min) {
			img {
				width: auto;
			}
		}
	}
	&-logo,
	&-menu {
		margin-left: 10px;
		@media screen and (min-width: $screen-lg-min) {
			margin-left: 40px;
		}
	}
	&-info {
		padding: 20px 15px;
		@media screen and (min-width: $screen-adaptive-nav) {
			padding: 20px 0 20px 40px;
			border-top: 1px solid $gray-lighten;
		}
		@media screen and (min-width: $screen-xl-max) {
			padding: 30px 40px;
		}
		a {
			text-decoration: none;
		}
		&__phone {
			font-family: geometriaBold;
			font-size: 17px;
			color: $base-color-main;
		}
		&__mail {
			font-size: 14px;
			color: $gray;
		}
	}
	&-social {
		font-size: 20px;
		display: flex;
		margin: 0 15px 10px;
		max-width: 240px;
		justify-content: space-between;
		border: 1px solid $gray-lighten;
		@media screen and (min-width: $screen-adaptive-nav) {
			margin: 0;
		}
		a {
			flex-grow: 1;
			text-align: center;
			color: #cdcdcd;
			padding: 9px 0;
			display: block;
			border-right: 1px solid $gray-lighten;
			&:last-child {
				border-right: 0;
			}
			&:hover {
				color: $white-lighten;
				background-color: $color-type-4a;
			}
		}
	}
}

