//
// Partials -> Footer
// ------------------------------------

//
// Footer
//
.page-footer {
	background-color: $white;
	&__bottom {
		padding-top: 40px;
		padding-bottom: 40px;
		@media screen and (min-width: $screen-xl-min) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
		.is-col:last-child {
			margin-left: auto;
		}
	}
	.wherebuy-block {
		display: block;
		width: 100%;
		color: $white-lighten;
		padding: 20px 10px;
		background: url('../images/mapdefault.jpg') no-repeat bottom right / cover, $color-type-4a;
		@media screen and (min-width: $screen-xl-min) {
			min-width: 310px;
			width: 70%;
			padding: 30px;
		}
		&:hover {
			background: url('../images/maphover.jpg') no-repeat bottom right / cover, $base-color-main;
		}
		.footer-title {
			padding-bottom: 10px;
			margin-bottom: 10px;
			@media screen and (min-width: $screen-md-min) {
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
			&:after {
				background-color: #11ce42;
			}
		}
	}
	.footer {
		&-link {
			background: url('../images/arrow-left.svg') no-repeat center right;
			background-size: 20px auto;
		}
		&-copyright {
			color: $gray;
		}
		&-logo {
			display: flex;
			align-items: center;
			white-space: nowrap;
			span {
				//line-height: 1.5;
			}
			img {
				//height: 14px;
				margin-left: 9px;
			}
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.top__md {
			.is-col {
				margin-top: 40px;
			}
		}
		.margBot-20 {
			margin-bottom: 10px;
		}
		.page-footer__bottom .bottom__xs {
			.is-col:first-child {
				margin-bottom: 40px;
			}
		}
		.bottom__xs {
			.is-col {
				&:first-child {
					width: 100%;
				}
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.top__md {
			.is-col {
				margin-top: 20px;
				&:first-child {
					width: 100%;
				}
			}
		}
		.margBot-20 {
			margin-bottom: 0;
		}
		.page-footer__bottom {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.page-footer__bottom .bottom__xs {
			.is-col:first-child {
				margin-bottom: 20px;
			}
		}
	}
}


.footer {
	&-title {
		font-size: 11px;
		letter-spacing: 0.66px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		padding-top: 5px;
		text-transform: uppercase;
		position: relative;
		&:after {
			content: '';
			width: 20px;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			background-color: $color-type-4a;
		}
	}
}
