//
// Partials -> Header
// ------------------------------------

$headerPadding: 34px 25px;

//
// Header
//
.page {
	&-header {
		border-bottom: 1px solid $gray-lighten;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 99;
		background-color: #fff;
		@media screen and (min-width: $screen-md-min) {
			position: static;
			border-bottom: none;
		}
		&__inner {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			@media screen and (min-width: $screen-md-min) {
				justify-content: space-between;
			}
		}
	}
	&-search {
		//display: none;
		right: -100%;
		position: absolute;
		top: 101%;
		z-index: 11;
		@include transition(right .5s);
		@media screen and (min-width: $screen-md-min) {
			position: static;
			padding: 15px 14px;
			border-right: 0;
			flex-grow: 1;
			padding: 10px 20px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 10px 8% 10px 6%;
		}
		form {
			display: flex;
		}
		.control {
			border: 0;
			color: #8e8e8e;
			font-size: 14px;
			border-bottom: 1px solid $gray-lighten;
			height: 45px;
			padding: 15px 17px;
			@media screen and (min-width: $screen-md-min) {
				padding: 10px 17px 10px 0;
			}
		}
		button {
			border: none;
			background: url("../images/search.svg") no-repeat center;
			background-size: 20px auto;
			padding: 11px;
			margin-right: 17px;
			@media screen and (min-width: $screen-md-min) {
				margin-right: 0;
			}
		}
		&.active {
			width: 100%;
			right: 0;
			background: #fff;
		}
	}
	&-searchm {
		padding: 11px;
		img {
			width: 22px;
		}
	}
	&-login {
		font-size: 14px;
		padding: 15px 14px;
		border-left: 1px solid $gray-lighten;
		border-right: 1px solid $gray-lighten;
		@media screen and (min-width: $screen-md-min) {
			border-right: 0;
			padding: $headerPadding;
		}
		div {
			display: none;
			@media screen and (min-width: $screen-lg-min) {
				display: inline-block;
			}
		}
		span {
			background: url("../images/login.svg") no-repeat center;
			background-size: 20px auto;
			padding: 10px;
			@media screen and (min-width: $screen-lg-min) {
				margin-right: 15px;
			}
		}
	}
	&-click {
		color: $white-lighten;
		background-color: $color-type-4a;
		padding: $headerPadding;
	}
}

//
// Main title
//
.title {
}

//
// old-browser
//
.browsehappy {
	@extend .container;
}

.lt-ie8 {
}
