//
// Partials -> Main
// ------------------------------------

.content {
	//margin-left: 150px;
	overflow: hidden;
	@media screen and (min-width: $screen-lg-min) {
		margin-left: 200px;
	}
	@media screen and (min-width: $screen-xl-max) {
		margin-left: 240px;
	}
}

.p-relative {
	position: relative;
	z-index: 1;
}

.mainSlider {
	color: $white-lighten;
	.middleCenteredFlex {
		@media screen and (max-width: $screen-sm-max) {
			flex-wrap: nowrap;
		}
	}
	.swiper-container,
	.swiper-wrapper,
	.swiper-slide {
		@media screen and (min-width: $screen-xl-min) {
			height: 100% !important;
		}
	}
	.swiper-wrapper {
		@media screen and (max-width: $screen-sm-max) {
			.is-col > img {
				position: absolute;
				left: 70%;
				bottom: 9%;
				height: 290px;
			}
		}
		.is-icons {
			width: 60px;
			height: 60px;
			border: 1px solid $white-lighten;
			border-radius: 50%;
			margin-right: 15px;
			@extend .centeredFlex;
			@media screen and (max-width: $screen-sm-max) {
				width: 45px;
				height: 45px;
				margin-right: 10px;
			}
		}
		@media screen and (max-width: $screen-sm-max) {
			.margBot-20 {
				margin-bottom: 10px;
			}
		}
	}
	h1 {
		margin-top: 0;
	}
	h5 {
		@extend .margBot-40;
	}
	.btn--outlined {
		@extend .margTop-30;
	}
	.swiper-slide {
		padding: 60px 0 160px;

		overflow: hidden;
		display: flex;
		align-items: center;
		@media screen and (max-width: $screen-sm-max) {
			padding: 30px 0;
			height: 500px;
		}
		&--sec {
			@media screen and (max-width: $screen-sm-max) {
				img {
					bottom: -9% !important;
				}
			}
		}
	}
	.swiper {
		&-loader {
			height: 34px;
		}
		&-settings {
			width: 100%;
			.swiper-link {
				img {
					width: 66px;
					height: 70px;
					@media screen and (max-width: $screen-sm-max) {
						height: 55px;
						width: auto;
					}
				}
			}
			@media screen and (min-width: $screen-md-min) {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 10;
			}
		}
		&-link {
			padding: 20px 0 20px 40px;
			color: $white-lighten;
			background-color: $color-type-4a;
			@extend .middleCenteredFlex;
			position: relative;

			@media screen and (min-width: $screen-xl-max) {
				left: 26%;
			}
			@media screen and (max-width: $screen-sm-max) {
				padding: 15px 0;
				justify-content: center;
				div:last-child {
					width: 50%;
				}
			}
			&:hover {
				background-color: $base-color-main;
				&:after {
					background-color: $base-color-main;
				}
			}
			img {
				margin-right: 10px;
				@media screen and (min-width: $screen-xl-max) {
					margin-right: 30px;
				}
				//box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
			}
			a {
				color: $white-lighten;
			}
			&:after {
				content: '';
				position: absolute;
				left: 100%;
				top: 0;
				bottom: 0;
				width: 300%;
				background-color: $color-type-4a;
			}
		}
		&-center {
			font-size: 18px;
			color: $black;
			background-color: $white-lighten;
			@extend .middleCenteredFlex;
			justify-content: center;
			position: relative;
			@media screen and (min-width: $screen-xl-max) {
				left: 26%;
			}
			@media screen and (max-width: $screen-sm-max) {
				padding: 10px;
			}
		}
	}
	.scroll-me {
		height: 100%;
		@extend .middleCenteredFlex;
		&-line {
			width: 34px;
			height: 1px;
			margin: 0 10px;
			background-color: rgba(#c3ecf7, 0.3);
			@media screen and (min-width: $screen-xl-min) {
				margin: 0 20px;
			}
		}
	}
	img {
		max-width: inherit;
	}
}

.mainHits {
	padding: 50px 0;
	background-color: $white;
	@media screen and (min-width: $screen-md-min) {
		padding: 80px 0;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 135px 0 110px;
	}
	.btn {
		color: $color-type-4a;
	}
	&-item {
		position: relative;
		@media screen and (max-width: $screen-sm-max) {
			margin-bottom: 20px;
			.padTop-30 {
				padding-top: 0;
			}
			.margBot-100 {
				margin-bottom: 30px;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			height: 450px;
		}
		&:after {
			content: '';
			width: 230px;
			height: 230px;
			background-color: $white-lighten;
			border-radius: 50%;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			@media screen and (min-width: $screen-md-min) {
				width: 300px;
				height: 300px;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 370px;
				height: 370px;
			}
		}
		&_img {
			img {
				position: absolute;
				right: -15%;
				left: auto;
				top: 0;
				height: 250px;
				@media screen and (min-width: $screen-md-min) {
					height: auto;
					right: auto;
					left: 37%;
					max-width: inherit;
				}
				@media screen and (min-width: $screen-xl-min) {
					left: 40%;
				}
			}
			&--he {
				margin-top: 40px;
				@media screen and (min-width: $screen-md-min) {
					margin-top: 0;
				}
				//img {
				//	left: 20%;
				//	@media screen and (min-width: $screen-md-min) {
				//		left: 12%;
				//	}
				//}
			}
		}
		> div {
			position: relative;
			z-index: 1;
		}
	}
}

.mainServices {
	padding: 40px 0;
	@media screen and (min-width: $screen-md-min) {
		padding: 80px 0;
	}
	h2 {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 80px;
		}
	}
	&-num {
		color: $gray-lighten;
		font-size: 30px;
		font-family: 'geometriaBold';
	}
	.is-col {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 0;
		}
	}
	&-item {
		position: relative;
		padding-left: 35px;
		height: 100%;
		border-left: 1px solid #e5e5e5;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $screen-md-min) {
			padding-top: 30px;
			padding-left: 15px;
			margin-bottom: 0;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding-left: 35px;
			padding-top: 70px;
		}
		ul {
			@media screen and (min-width: $screen-md-min) {
				margin: 20px 0;
			}
			@media screen and (min-width: $screen-xl-min) {
				margin: 20px 0 50px;
			}
		}
		li {
			padding-left: 20px;
			margin-bottom: 20px;
			position: relative;
			@media screen and (min-width: $screen-xl-min) {
				width: 70%;
			}
			&:before {
				content: '';
				width: 11px;
				height: 4px;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}
		.btn {
			margin-left: -35px;
			@media screen and (min-width: $screen-md-min) {
				margin-left: -15px;
			}
			@media screen and (min-width: $screen-xl-min) {
				margin-left: -35px;
			}
		}
		ul + div {
			margin-top: auto;
		}
		&:before {
			content: '';
			width: 13px;
			height: 31px;
			position: absolute;
			top: 0;
			left: 0;
		}
		&--suc {
			li:before,
			&:before {
				background-color: $color-type-4a;
			}
		}
		&--info {
			li:before,
			&:before {
				background-color: $color-type-1a;
			}
		}
		&--prim {
			li:before,
			&:before {
				background-color: $base-color-main;
			}
		}
	}
}

.mainBenefits {
	.container {
		position: relative;
	}
	@media screen and (min-width: $screen-xl-max) {
		padding: 80px 0;
	}
	h2 {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			@extend .padTop-30;
			margin-bottom: 40px;
		}
		@media screen and (min-width: $screen-xl-max) {
			margin-bottom: 80px;
		}
	}
	.scrollme-inner {
		height: 600px;
		position: relative;
		@media screen and (min-width: $screen-md-min) {
			height: auto;
			position: static;
		}
		> div {
			position: absolute;
			bottom: 0;
			right: 0;
			@media screen and (max-width: $screen-sm-max) {
				left: 0;
			}
			&.firstBlock {
				z-index: 10;
				@media screen and (max-width: $screen-sm-max) {
					right: 19px;
				}
			}
			&.secBlock {
				z-index: 1;
				bottom: 383px;
				right: 6px;
			}
			&.animateme {
				&:first-child {
					z-index: 12;
					bottom: 380px;
					right: 5px;
				}
				&:nth-child(2) {
					z-index: 8;
					right: 112px;
					bottom: 360px;
					@media screen and (max-width: $screen-sm-max) {
						right: 60px;
					}
				}
				&:nth-child(3) {
					z-index: 7;
					right: 34px;
					bottom: 60px;
					@media screen and (max-width: $screen-sm-max) {
						right: 0;
					}
				}
				&:nth-child(4) {
					z-index: 6;
					right: 23px;
					bottom: 60px;
					@media screen and (max-width: $screen-sm-max) {
						right: 0;
					}
				}
			}
		}
	}
}

.mainReview {
	padding: 40px 0 0;
	@media screen and (min-width: $screen-md-min) {
		padding: 60px 0;
	}
	.btn--full {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 0;
		}
	}
	h2 {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 80px;
		}
	}
	.swiper-slide {
		> div {
			&:before {
				counter-increment: myCounter;
				content: counter(myCounter, decimal-leading-zero);
				position: absolute;
				right: 0;
				padding: 6px 9px;
				color: #a4a4a4;
				font-family: 'geometriaBold';
				font-size: 14px;
				background-color: #f5f5f5;
				z-index: 10;
			}
		}
	}
	.swiper-slide-active + div {
		text-align: right;
	}
	&-inner {
		position: relative;
		overflow: hidden;
		padding-left: 15px;
		margin-left: -15px;
		.swiper-review {
			overflow: hidden;
			@media screen and (min-width: $screen-md-min) {
				overflow: visible;
			}
		}
		.margTop-40 {
			margin-top: 0;
			@media screen and (min-width: $screen-md-min) {
				margin-top: 40px;
			}
		}
	}
	&-info {
		display: flex;
		padding: 20px 0;
		> span {
			margin-top: 10px;
			margin-right: 25px;
			width: 43px;
			height: 1px;
			background-color: $gray-darken;
		}
	}
	&--video,
	&--txt {
		text-align: left;
		line-height: 1.5;
		display: inline-block;
		position: relative;
	}
	.watchMark {
		position: absolute;
		top: 40px;
		z-index: 1;
		@media screen and (min-width: $screen-md-min) {
			left: -20px;
		}
		img {
			height: 50px;
			@media screen and (min-width: $screen-md-min) {
				height: auto;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			top: 80px;
		}
	}
	&--txt {
		z-index: 9;
		@media screen and (min-width: $screen-md-min) {
			width: 99%;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: auto;
		}
		img {
			opacity: 0;
			display: none;
			@media screen and (min-width: $screen-lg-min) {
				display: block;
			}
		}
		&:before {
			top: 4px;
			background-color: $white-lighten !important;
		}
		.mainReview-info {
			background: url("../images/icons/quote-mark.svg") no-repeat center right;
		}
	}
	&-text {
		background-color: $white;
		padding: 15px;
		border-top: 4px solid $color-type-4a;
		@media screen and (min-width: $screen-md-min) {
			padding: 20px;
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 18px;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 43px 40px;
		}
	}
	.swiper-settings {
		position: absolute;
		right: 0;
		top: 20px;
		display: flex;
		z-index: 10;
		@media screen and (min-width: $screen-md-min) {
			top: 40px;
		}
	}
	.swiper-btnR-prev {
		margin-right: 40px;
	}
	[class^="swiper-btnR-"] {
		font-size: 20px;
	}
	@media screen and (max-width: $screen-xl-max) {
		.swiper-slide-active + div {
			text-align: right;
		}
	}
	.swiper-wrapper {
		counter-reset: myCounter;
	}
}

.mainBlogs {
	padding: 30px 0;
	@media screen and (min-width: $screen-md-min) {
		padding: 60px 0;
	}
	h2 {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 80px;
		}
	}
	.margTop-60 {
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 60px;
		}
	}
}

.mainSign {
	padding: 30px 0;
	@media screen and (min-width: $screen-xl-min) {
		padding: 60px 0;
	}
	h2 {
		margin-bottom: 60px;
		@media screen and (max-width: $screen-sm-max) {
			margin-bottom: 30px;
		}
	}
	form {
		display: flex;
	}
	input {
		flex-grow: 1;
		font-size: 18px;
		height: 120px;
		padding: 20px 60px;
		border: 1px solid $gray-lighten;
		@media screen and (max-width: $screen-sm-max) {
			padding: 25px;
			height: 60px;
			font-size: 15px;
		}
	}
	button {
		cursor: pointer;
		background-color: $color-type-4a;
		width: 120px;
		height: 120px;
		outline: none;
		border: 0;
		@media screen and (max-width: $screen-sm-max) {
			height: 60px;
			width: 60px;
		}
		&:hover {
			background-color: $base-color-main;
		}
	}
}

.mainSert {
	@media screen and (min-width: $screen-md-min) {
		padding: 40px 0;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 60px 0 80px;
	}
	.margTop-80 {
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 80px;
		}
	}
	h2 {
		@extend .margBot-40;
	}
	&-inner {
		position: relative;
		overflow: hidden;
	}
	&-back {
		padding: 40px 20px;
		background: url('../images/main-template.png') no-repeat center;
		@include transition();
		@media screen and (min-width: $screen-md-min) {
			background: url('../images/main-template.png') no-repeat center,
			url('../images/main-shadow.png') no-repeat center right -8px;
			padding: 60px 20px;
		}
		span {
			position: absolute;
			background: url('../images/main-effects.png') no-repeat center;
		}
	}
	&-txt {
		font-size: 13px;
		padding: 0 15px;
	}
	&-search {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		background-color: rgba($base-color-main, 0.9);
		position: absolute;
		left: 0;
		right: 0;
		top: 25%;
		margin: auto;
		opacity: 0;
		z-index: 1;
		@extend .centeredFlex;
		@include transition();
		img {
			width: 22px;
		}
	}
	.swiper-slide {
		text-align: center;
		&:hover {
			.mainSert-back {
				transform: translate(0, -30px);
			}
			.mainSert-search {
				opacity: 1;
			}
		}

	}
	.swiper-settings {
		position: absolute;
		right: 0;
		top: 20px;
		display: flex;
		z-index: 10;
		@media screen and (min-width: $screen-md-min) {
			top: 40px;
		}
	}
	.swiper-btnS-prev {
		margin-right: 40px;
	}
	[class^="swiper-btnS-"] {
		font-size: 20px;
	}
	&-color {
		background-color: $white;
		width: 100%;
		position: absolute;
		top: 32%;
		z-index: 0;
		height: 75%;
		left: 48%;
		@media screen and (min-width: $screen-md-min) {
			height: 79%;
			left: 15%;
		}
		&:after {
			content: '';
			left: 100%;
			background-color: $white;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
}

.mainForm {
	padding: 60px 0;
	background: url("../images/mobile/3.jpg") no-repeat left 50px bottom;
	@media screen and (min-width: $screen-md-min) {
		background: none;
		padding: 80px 0 40px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 80px 0 120px;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 15px;
		color: $white-lighten;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 30px;
		}
	}
	form {
		background-color: $color-type-4a;
		padding: 20px;
		position: relative;
		z-index: 1;
		max-width: 600px;
		@media screen and (min-width: $screen-md-min) {
			margin: auto;
			padding: 30px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 50px 70px;
		}
		&.sent {
			background: url('../images/sent.png') no-repeat center / 80% auto, $color-type-4a;
		}
	}
	.control {
		color: $white-lighten;
		background-color: transparent;
		border-color: rgba($white-lighten, 0.5);
		@include placeholder($white-lighten);
	}
	.checkbox {
		font-size: 13px;
		a {
			text-decoration: underline;
			color: rgba($white-lighten, 0.5);
		}
		label {
			color: rgba($white-lighten, 0.5);
		}
	}
	&-back {
		position: absolute;
		left: 50%;
		top: 27%;
		z-index: 0;
	}
	.margBot-40 {
		margin-bottom: 40px;
		@media screen and (max-width: $screen-sm-max) {
			margin-bottom: 20px;
		}
	}
	&-img {
		&-1 {
			position: absolute;
			top: 40%;
			left: -50px;
			z-index: 2;
			@media screen and (max-width: $screen-sm-max) {
				left: -20px;
				img {
					height: 40px;
				}
			}
		}
		&-2 {
			position: absolute;
			bottom: 30px;
			right: -30px;
			z-index: 2;
			@media screen and (max-width: $screen-sm-max) {
				bottom: -15px;
				right: -15px;
				img {
					height: 60px;
				}
			}
		}
	}
}
