//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
	.breadcrumbs {
		padding: $breadcrumb-padding-vertical / 2 $breadcrumb-padding-horizontal;
		margin-bottom: 0;
		list-style: none;
		@media screen and (min-width: $screen-md-min) {
			padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
		}

		+ h1 {
			margin-top: 0;
			margin-bottom: 20px;
		}

		&__item {
			display: inline-block;
			position: relative;
			& + & {
				&:before {
					content: "";
					width: 23px;
					height: 1px;
					display: inline-block;
					vertical-align: middle;
					margin: 0 10px;
					background-color: $breadcrumb-color;
				}
			}

			&.active {
				color: $breadcrumb-active-color;
			}
		}
		&__link {
			color: $breadcrumb-color;
		}
	}
}
