//
// Modules -> Navs
// --------------------------------------------------

.sub-nav {
	//text-align: center;
	font-size: 13px;
	display: none;
	a {
		display: block;
		padding: 5px 0 5px 40px;
		@media screen and (min-width: $screen-adaptive-nav) {
			padding-left: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}

	@if $use-adaptive == true {
		@media screen and (min-width: $screen-adaptive-nav) {
			margin-top: -10px;
			font-size: 14px;
			//position: absolute;
			//background: $gray-darken;
			//top: 0;
			//left: 100%;
			//min-width: 200px;
			//&.active {
			//	display: block;
			//}
		}
	} @else {
		display: none;
		position: absolute;
		background: $gray-darken;
		top: 100%;
		right: 0;
		min-width: 200px;
		li:hover & {
			display: block;
		}
	}
}

.main-nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

	&__item {
		position: relative;
		display: block;
		&--parent {
			> a {
				background: url('../images/menu-arr.svg') no-repeat center right;
			}
			&.active > a {
				background: url('../images/icons/arrow-up.png') no-repeat center right;
			}
		}
		//@media screen and (min-width: $screen-adaptive-nav) {
		//	&--parent {
		//		> a {
		//			background: url('../images/menu-arr.svg') no-repeat center right;
		//		}
		//		&.active > a {
		//			background: url('../images/icons/arrow-up.png') no-repeat center right;
		//		}
		//	}
		//}
	}
	&__link {
		position: relative;
		padding: 5px 15px;
		text-decoration: none;
		display: inline-block;
		@media screen and (max-width: $screen-sm-max) {
			font-size: 16px;
		}
		@media screen and (min-width: $screen-adaptive-nav) {
			padding: $nav-link-padding;
		}

		&.active,
		&:hover, &:focus {
			color: $base-color-main;
			background-color: transparent;
			@media screen and (min-width: $screen-adaptive-nav) {
				text-decoration: underline;
			}
		}
	}
	img {
		max-width: none;
	}

	@if $use-adaptive == true {
		//&__toggle {
		//	position: relative;
		//	padding: 9px 10px;
		//	background-color: transparent;
		//	border: none;
		//	cursor: pointer;
		//	margin: auto;
		//
		//	&:focus {
		//		outline: 0;
		//	}
		//	.icon-bar {
		//		display: block;
		//		width: 20px;
		//		height: 2px;
		//		background: $color-type-4a;
		//		border-radius: 1px;
		//	}
		//	.icon-bar + .icon-bar {
		//		margin-top: 4px;
		//	}
		//	@media screen and (min-width: $screen-adaptive-nav) {
		//		display: none;
		//	}
		//}
		&__collapse {
			border-top: 1px solid #eaeaea;
			background-color: $white-lighten;
			-webkit-overflow-scrolling: touch;
			position: fixed;
			right: -100%;
			padding-top: 25px;
			top: 50px;
			bottom: 0;
			width: 100%;
			transition: right .5s;
			z-index: 99;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&.active {
				right: 0;
			}

			.page-click {
				text-align: center;
				padding: 15px;
				height: 55px;
				width: 100%;
				display: block;
				font-size: 16px;
				margin-top: auto;
			}
		}
	}
}
