//
// Modules -> Space
// --------------------------------------------------

@if $use-space == true {
  //
  // padding
  //
  $a: 0;
  @while $a < 101 {
    .padTop-#{$a} {
      @include padtop(1px * $a);
    }
    .padBot-#{$a} {
      @include padbot(1px * $a);
    }
    $a: $a + 10;
  }

  //
  // margin
  //
  $b: 0;
  @while $b < 101 {
    .margBot-#{$b} {
      @include margbot(1px * $b);
    }
    .margTop-#{$b} {
      @include margtop(1px * $b);
    }
    $b: $b + 10;
  }
}
