ul.tabs {
	display: inline-flex;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
	h2, .beta {
		font-family: 'geometriaRegular';
		border-bottom: 3px solid transparent;
		margin-bottom: 0;
		padding-bottom: 10px;
	}

	.current h2, .current .beta {
		font-family: 'geometriaBold';
		color: $color-type-4a;
		border-color: $color-type-4a;
	}
	.beta {
		margin-right: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-right: 50px;
		}
	}
	&--abs {
		width: 100%;
		height: 45px;
		box-shadow: 0 7px 26px rgba(44, 43, 49, 0.1);
		background-color: $white-lighten;
		z-index: 10;
		@media screen and (min-width: $screen-md-min) {
			width: 300px;
			position: absolute;
			right: 0;
			top: 80px;
			height: 60px;
		}
		li{
			width: 50%;
			color: $black;
			padding: 10px 15px;
			&.current{
				background: $color-type-4a;
				color: $white-lighten;
			}
		}
	}
	li{
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.tab-content{
	display: none;
	&.current{
		display: block;
	}
}
