.aboutMain {
	color: $white-lighten;
	padding-bottom: 130px;
	background: url("../images/about-mob.jpg") no-repeat center / cover;
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 230px;
		background: url("../images/about.jpg") no-repeat center / cover;
	}
	.breadcrumbs__item,
	.breadcrumbs__link {
		color: $white-lighten;
	}
	.mainTitle {
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 90px;
		}
	}
	&-item {
		position: relative;
		margin-bottom: 20px;
		&:before {
			content: '';
			width: 190px;
			height: 190px;
			border-radius: 50%;
			border: 1px solid rgba($white-lighten, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			@media screen and (min-width: $screen-md-min) {
				width: 215px;
				height: 215px;
			}
		}
	}
}


.titleYear {
	font-size: 50px;
	font-family: 'geometriaBold';
	font-weight: 900;
	display: inline-block;
	position: relative;
	@media screen and (min-width: $screen-md-min) {
		font-size: 80px;
	}
	img {
		position: absolute;
		top: 0;
		right: 0;
		@media screen and (min-width: $screen-md-min) {
			top: 10px;
		}
	}
}

.aboutInfo {
	background-color: #f6f6f6;
	//overflow: hidden;
	&-back {
		position: absolute;
		bottom: 10%;
		left: -13%;
		display: none;
		@media screen and (min-width: $screen-md-min) {
			display: block;
		}
	}
	&-desc {
		position: absolute;
		bottom: -22%;
		width: 100%;
		left: -1%;
		@media screen and (min-width: $screen-md-min) {
			bottom: -33%;
			width: auto;
			left: auto;
		}
	}
	&-img {
		position: absolute;
		left: -41%;
		top: 10%;
		img {
			height: 320px;
			@media screen and (min-width: $screen-md-min) {
				height: auto;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			left: -8%;
			top: 0;
		}
		@media screen and (min-width: $screen-xl-min) {
			left: -5%;
		}
	}
}

.aboutBio {
	padding: 15px;
	background: url("../images/maps.svg") no-repeat top right, $white-lighten;
	position: relative;
	top: -100px;
	@media screen and (min-width: $screen-md-min) {
		top: -140px;
		padding: 40px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 80px 80px 40px 100px;
	}
	.margBot-40 {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
	h3 {
		line-height: 1.5;
		font-family: 'geometriaRegular';
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 70px;
		}
	}
}

.aboutGen {
	margin-top: 0;
	@media screen and (min-width: $screen-md-min) {
		margin-top: 70px;
	}
	&-img {
		position: relative;
		right: -15%;
		bottom: -20%;
		@media screen and (min-width: $screen-md-min) {
			position: absolute;
			top: 0;
			bottom: auto;
		}
	}
	.btn {
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 130px;
		}
	}
}

.aboutList {
	padding: 35px 15px 15px;
	margin-bottom: 40px;
	color: $white-lighten;
	position: relative;
	@media screen and (min-width: $screen-md-min) {
		padding: 30px;
		margin-bottom: 70px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 60px;
		margin-bottom: 120px;
	}
	> * {
		position: relative;
		z-index: 1;
	}
	&:after {
		content: '';
		width: 110%;
		position: absolute;
		left: -5%;
		top: 0;
		bottom: 0;
		background: url("../images/mobile/5.jpg") no-repeat center / cover;
		@media screen and (min-width: $screen-md-min) {
			left: 0;
			width: 135%;
			background: url("../images/about-back.jpg") no-repeat center / cover;
		}
	}
	ol {
		font-size: 15px;
		display: flex;
		counter-reset: item;
		list-style-type: none;
		flex-wrap: wrap;
		@media screen and (min-width: $screen-md-min) {
			flex-wrap: nowrap;
			margin: 60px 0;
			font-size: 20px;
		}
		li {
			padding-left: 50px;
			position: relative;
			flex-grow: 1;
			margin: 10px 0;
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: auto;
				margin: 0;
			}
			&:before {
				content: counter(item, decimal-leading-zero) " ";
				counter-increment: item;
				position: absolute;
				top: 0;
				left: 0;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 30px;
				width: 25px;
				height: 3px;
				font-size: 25px;
				background-color: #a6c42a;
				@media screen and (min-width: $screen-md-min) {
					font-size: 20px;
				}
			}
		}
	}
	h3 {
		font-size: 16px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 30px;
		}
	}
}

.aboutProd {
	h5 {
		font-size: 15px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 22px;
			margin-top: 40px;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 130px;
		}
	}
	.video {
		border-bottom: 6px solid $color-type-4a;
	}
	&-img {
		position: absolute;
		left: -50px;
		top: -27%;
		z-index: -1;
		@media screen and (min-width: $screen-md-min) {
			left: -35px;
			top: 16%;
		}
	}
}

.aboutBack {
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: $white-lighten;
	@media screen and (min-width: $screen-md-min) {
		padding-left: 0;
		padding-right: 0;
	}
	.margBot-70 {
		margin-bottom: 30px;
	}
	@media screen and (min-width: $screen-md-min) {
		padding-top: 130px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding-top: 180px;
		.margBot-70 {
			margin-bottom: 70px;
		}
	}
	.mainSert .swiper-settings {
		top: 3%;
		@media screen and (min-width: $screen-md-min) {
			top: 23%;
		}
	}
	.mainSert-color {
		top: 42%;
		height: 65%;
		@media screen and (min-width: $screen-md-min) {
			height: 58%;
		}
	}
}

.aboutImg {
	position: relative;
	margin-bottom: 10px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 40px;
	}
	.contentAbout {
		padding: 15px;
		background-color: $white-lighten;
		@media screen and (min-width: $screen-md-min) {
			width: 350px;
			position: absolute;
			right: 80px;
			bottom: -60px;
			padding: 20px;
		}
		@media screen and (min-width: $screen-xl-min) {
			width: 410px;
			padding: 40px 60px;
		}
	}
	&--right {
		@media screen and (max-width: $screen-sm-max) {
			> * {
				position: relative;
				z-index: 1;
			}
			&:after {
				content: '';
				background-color: $white-lighten;
				left: -10px;
				right: -10px;
				position: absolute;
				top: 100px;
				z-index: 0;
				height: 100%;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			bottom: -100px;
			text-align: right;
		}
		.contentAbout {
			top: 0;
			left: 0;
			bottom: auto;
			right: auto;
			text-align: left;
		}
	}
}

.aboutProp {
	span {
		margin-bottom: 20px;
	}
}

.aboutStore {
	margin-top: 60px;
	@media screen and (min-width: $screen-md-min) {
		margin-top: 100px;
	}
	ul {
		display: flex;
		justify-content: space-between;
		li {
			text-align: center;
			width: 80px;
			height: 80px;
			border: 1px solid #e1e1e1;
			background-color: $white-lighten;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-size: 10px;
			@media screen and (min-width: $screen-md-min) {
				width: 133px;
				height: 133px;
				font-size: 16px;
			}
		}
	}
}

.aboutGarantee {
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 70px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	.margTop-60 {
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 60px;
		}
	}
	.margBot-30 {
		margin-bottom: 15px;
		margin-top: 15px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 30px;
			margin-top: 0;
		}
	}
	h5 {
		margin-top: 15px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 0;
			margin-bottom: 40px;
		}
	}
	.inner {
		&-item {
			padding: 15px;
			border: 1px solid #e1e1e1;
			line-height: 1.2;
			margin-top: -1px;
			@media screen and (min-width: $screen-md-min) {
				padding: 20px;
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 50px 40px;
			}
		}
		&-num {
			font-size: 46px;
			line-height: 1;
			@media screen and (min-width: $screen-md-min) {
				font-size: 60px;
			}
		}
		&-border {
			position: relative;
			&:after {
				content: '';
				height: 1px;
				width: 100%;
				background-color: #e1e1e1;
				position: absolute;
				right: 10px;
				left: 10px;
				bottom: 0;
				@media screen and (min-width: $screen-md-min) {
					height: 100%;
					width: 1px;
					top: 0;
					left: auto;
				}
				@media screen and (min-width: $screen-xl-min) {
					right: 60px;
				}
			}
		}
	}
}
