@mixin animation($item: all, $time: 0.5s) {
	transition: $item $time;
}
@media screen and (min-width: $screen-adaptive-nav) {
	.page-aside {
		left: -100%;
		transition: left 0.5s;
	}

	.page-header {
		position: relative;
		right: -100%;
		transition: right 1s;
		//transition-delay: 0.6s;
	}

	.animate.mainSlider .swiper-settings {
		right: -100%;
		transition: right 0.5s;
		//transition-delay: 1s;
	}

	.animate .breadcrumbs,
	.page-logo {
		opacity: 0;
		transition: opacity 0.5s;
		//transition-delay: 0.6s;
	}

	.animate .swiper-pagination,
	.animate .prodSlider-line:after,
	.animate h1,
	.animate h5,
	.animate p,
	.animate .btn,
	.animate img {
		opacity: 0;
		transition: opacity 0.5s;
		//transition-delay: 1.2s;
	}

	.page-menu .main-nav__item {
		opacity: 0;
		transition: opacity 0.5s;
	}

	.animate .middleCenteredFlex {
		opacity: 0;
		transition: opacity 0.5s;
	}

	.page-set {
		//position: relative;
		bottom: -100%;
		transition: bottom 0.5s;
		transition-delay: 0.4s;
	}

	.animate .swiper-container {
		position: relative;
		left: -100%;
		transition: left 1s;
	}
	.animate.mainSlider .swiper-center {
		display: none;
		transition: all 1s;
	}

	.addAnimate {
		.animate .swiper-pagination,
		.animate .prodSlider-line:after,
		.animate h1,
		.animate h5,
		.animate p,
		.animate .btn,
		.animate img {
			transition-delay: 1.2s;
		}

		.page-set {
			transition-delay: 0.4s;
		}

		.page-header {
			transition-delay: 0.6s;
		}

		.animate.mainSlider .swiper-settings {
			transition-delay: 1s;
		}

		.animate .breadcrumbs,
		.page-logo {
			transition-delay: 0.6s;
		}

		.page-menu .main-nav__item {
			$a: 1;
			$b: 0.2;
			@while $a < 8 {
				&:nth-child(#{$a}) {
					transition-delay: 0.3s + $b;
				}
				$b: $b + 0.2;
				$a: $a + 1;
			}
		}
		.animate .middleCenteredFlex {
			$a: 1;
			$b: 0.2;
			@while $a < 8 {
				&:nth-child(#{$a}) {
					transition-delay: 0.8s + $b;
				}
				$b: $b + 0.2;
				$a: $a + 1;
			}
		}

		.animate.mainSlider .swiper-settings,
		.page-header {
			right: 0;
		}
		.page-set {
			bottom: 0;
		}
		.page-aside {
			left: 0;
		}
		.animate img,
		.animate h1,
		.animate h5,
		.animate p,
		.animate .btn,
		.animate .swiper-pagination,
		.animate .breadcrumbs,
		.animate .prodSlider-line:after,
		.animate .middleCenteredFlex,
		.page-menu .main-nav__item,
		.page-logo {
			opacity: 1;
		}
		.animate .swiper-container {
			left: 0;
		}
		.animate.mainSlider .swiper-center {
			display: flex;
		}
	}
}
