.cardInfo {
	//padding-bottom: 90px;
	background-color: #f5f5f5;
	overflow: hidden;
	.is-icons {
		width: 62px;
		height: 62px;
		background-color: rgba($color-type-4a, 0.08);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 15px;
	}
	.first__md {
		@media screen and (max-width: $screen-sm-max) {
			background-color: $white-lighten;
		}
	}
	.margBot-50 {
		@media screen and (max-width: $screen-sm-max) {
			margin-bottom: 10px;
		}
	}
	.back {
		position: absolute;
		top: 13%;
		left: -47%;
		right: 0;
		z-index: -1;

		@media screen and (max-width: $screen-sm-max) {
			left: -26%;
			right: 50%;
		}
		img {
			@media screen and (max-width: $screen-sm-max) {
				width: 490px;
			}
		}
	}
	.text--right {
		@media screen and (max-width: $screen-sm-max) {
			background: linear-gradient(to top, #fff 0%, #fff 50%, #f5f5f5 50%, #f5f5f5 100%);
		}
	}
	.is-col__md-7 {
		z-index: 3;
	}
	img {
		max-width: inherit;
	}
	h1 {
		font-size: 18px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 60px;
		}
	}
	b {
		display: block;
		font-size: 16px;
	}
	span {
		font-size: 14px;
	}
	.mainTitle {
		position: relative;
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 80px;
		}
		img {
			position: absolute;
			left: -30px;
			top: -40px;
			display: none;
			@media screen and (min-width: $screen-md-min) {
				display: block;
			}
		}
		h1 {
			position: relative;
			z-index: 1;
		}
	}
	.margBot-20 {
		margin-bottom: 10px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 20px;
		}
	}
}

.cardMod,
.cardBen {
	margin: 30px 0;
	@media screen and (min-width: $screen-md-min) {
		margin: 80px 0;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 60px;
		}
	}
	.margBot-40 {
		margin-bottom: 10px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
}

.cardSert {
	margin: 40px 0 0;
	@media screen and (min-width: $screen-md-min) {
		margin: 80px 0;
	}
	.mainSert-color {
		height: 130%;
		left: 70%;
		top: 49%;
		@media screen and (max-width: $screen-sm-max) {
			display: none;
		}
	}
	.swiper-slide {
		text-align: center;
		&:hover {
			.mainSert-back {
				transform: translate(0, -30px);
			}
			.mainSert-search {
				opacity: 1;
			}
		}
	}
	.swiper-settings {
		position: absolute;
		right: 0;
		top: 20px;
		display: flex;
		z-index: 10;
		@media screen and (min-width: $screen-md-min) {
			top: 40px;
		}
	}
	.swiper-btnS-prev {
		margin-right: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-right: 40px;
		}
	}
	[class^="swiper-btnS-"] {
		font-size: 20px;
	}
	.sert-load {
		padding: 35px 7px;
		text-align: left;
		.img {
			text-align: center;
			margin: 14px 0;
		}
		.inner {
			padding: 30px;
			font-size: 14px;
			background-color: #ebf8f0;
		}
	}
}

.cardBlogs {
	position: relative;
	z-index: 1;
	h2 {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 70px;
		}
	}
}
