//
// Pages -> Index
// ------------------------------------


@media screen and (min-width: $screen-xl-min) {
	.is-col__xl-55 {
		width: 47.7%;
	}
}

.margRauto {
	margin-right: auto;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

img {
	vertical-align: middle;
}
.page-main {
	min-height: calc(100vh - 465px);
	margin-top: 50px;
	@media screen and (min-width: $screen-md-min) {
		margin-top: 0;
	}
}

.mainHeight {
	@media screen and (min-width: $screen-md-min) {
		min-height: 670px;
	}
	@media screen and (min-width: $screen-xl-min) {
		height: calc(100vh - 91px);
	}

	> .container {
		height: 100%;
	}
}

.subHeight {
	@media screen and (min-width: $screen-md-min) {
		min-height: 587px;
	}
	@media screen and (min-width: $screen-xl-min) {
		//height: calc(100vh - 174px);
	}
}


.h-100 {
	height: 100%;
}
.h-1002 {
	height: calc(100% - 20px);
}
.mt-auto {
	margin-top: auto;
}
.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.mainTitle {
	margin-bottom: 30px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 50px;
	}
	h1 {
		margin-top: 0;
	}
}

hr {
	margin: 20px 0;
	border: none;
	border-top: 1px solid $gray-lighten;
}

.contentable {
	a {
		@extend .text--success;
		span {
			margin-right: 5px;
			vertical-align: middle;
		}
	}
	img {
		//width: 100%;
	}
	.newsPageOne {
		img:first-child {
			width: 100%;
		}
	}
	.video {
		margin-bottom: 30px;
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
		a {
			display: block;
			position: relative;
		}
		a:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: url("../images/playBtn.svg") no-repeat center / 40px auto;
			@media screen and (min-width: $screen-lg-min) {
				background: url("../images/playBtn.svg") no-repeat center;
			}
		}
	}
	.blogs-item__tag {
		background: transparent;
	}
}

.news-social {
	display: flex;
	flex-direction: column;
	width: 47px;
	position: absolute;
	a {
		width: 100%;
		height: 47px;
		color: #cdcdcd;
		padding: 10px;
		display: block;
		border: 1px solid #e1e1e1;
		&:first-child {
			margin-bottom: 60px;
		}
	}
	> span {
		display: inline-block;
		font-size: 12px;
		margin-top: 90px;
		letter-spacing: 1.2px;
		transform: rotate(-90deg);
		text-transform: uppercase;
	}
}

.benefitsComp {
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 30px;
	}
	@media screen and (max-width: $screen-sm-max) {
		.margBot-80 {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}
	@media screen and (min-width: $screen-xl-min) {
		margin-bottom: 0;
	}
	.is-icons {
		width: 62px;
		height: 62px;
		margin-right: 10px;
		background-color: rgba($color-type-4a, 0.08);
		border-radius: 50%;
		@extend .centeredFlex;
		@media screen and (min-width: $screen-md-min) {
			width: 82px;
			height: 82px;
			margin-right: 15px;
		}
	}
}

button {
	cursor: pointer;
}

.page-index {}

.swiper-blog {
	position: relative;
	.swiper-wrapper {
		@media screen and (min-width: $screen-md-min) {
			display: flex;
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	.swiper-settings {
		display: flex;
		position: absolute;
		right: 0;
		top: -50px;
		@media screen and (min-width: $screen-md-min) {
			display: none;
		}
		div + div {
			margin-left: 20px;
		}
	}
}

.blogs {
	&-item {
		margin-bottom: 10px;
		display: block;
		@extend .h-100;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 20px;
		}
		&__img {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			img {
				width: 100%;
			}
		}
		&__inner {
			color: $black;
			@include transition();
			padding: 15px;
			background: url('../images/leaf-gr.svg') no-repeat center bottom 30px / 190px auto, $gray-lighten;
			@media screen and (min-width: $screen-xl-min) {
				padding: 25px 30px;
			}
		}
		&__head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@extend .margBot-20;
		}
		&__date {
			display: flex;
			align-items: center;
			line-height: 1.1;
			font-family: 'geometriaBold';
			.num {
				color: $gray;
				font-size: 30px;
				margin-right: 8px;
				@include transition();
			}
			.type {
				color: $gray-darken-2;
				font-size: 10px;
				@include transition();
			}
		}
		&__tag {
			color: $gray;
			font-family: 'geometriaBold';
			font-size: 9px;
			padding: 6px 15px;
			text-transform: uppercase;
			letter-spacing: 0.36px;
			background-color: #dddddd;
			@include transition();
		}
		&__title {
			font-family: 'geometriaBold';
			@extend .margBot-20;
		}
		&__desc {
			font-size: 14px;
			@extend .margBot-30;
		}
		&__link {
			color: $color-type-4a;
		}
		&:hover {
			.blogs-item {
				&__inner {
					color: $white-lighten;
					background: url('../images/leaf.svg') no-repeat center bottom 30px / 190px auto, $color-type-4a;
				}
				&__img {
					&:before {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}
				&__tag {
					background-color: #05b346;
				}
				&__date .type {
					color: #86d9a5;
				}
				&__date .num,
				&__tag,
				&__link {
					color: $white-lighten;
				}
			}
		}
	}
	.questionsPage & {
		.blogs-item {
			&:hover {
				.blogs-item {
					&__inner {
						color: inherit;
						background: url('../images/leaf-gr.svg') no-repeat center bottom 30px / 190px auto, $gray-lighten;
					}
					&__link,
					&__title {
						color: $color-type-4a;
					}
					&__tag {
						background-color: #dddddd;
					}
					&__date .type,
					&__date .num,
					&__tag {
						color: $gray-darken-2;
					}
				}
			}
		}
	}
}

.newsPageOne,
.newsPage {
	padding-bottom: 40px;
	@media screen and (min-width: $screen-xl-min) {
		padding-bottom: 80px;
	}
	.blogs {
		&-item {
			margin-bottom: 15px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 20px;
			}
			@media screen and (min-width: $screen-xl-min) {
				min-height: 235px;
			}
			&__head {
				margin-bottom: 0;
			}
			&__inner {
				display: flex;
				flex-direction: column;
				border: 1px solid $gray-lighten;
				background: url(../images/leaf-gr.svg) no-repeat center bottom 30px/190px auto;
			}
			&--lg {
				//@extend .is-col__md-8;
				.blogs-item__inner {
					background: url(../images/leaf-gr.svg) no-repeat left 30px bottom 30px/190px auto;
				}
				&:hover {
					.blogs-item__inner {
						background: url('../images/leaf.svg') no-repeat left 30px bottom 30px / 190px auto, $color-type-4a;
					}
				}
			}
		}
	}
	.blogs-item__img + .blogs-item__inner {
		min-height: 281px;
	}
}

.dealerPage {
	@media screen and (min-width: $screen-xl-min) {
		padding-bottom: 80px;
	}
	h4 {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 50px;
		}
	}
	&-item {
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
		.is-icons {
			margin-bottom: 10px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 20px;
			}
		}
	}
	&-howto {
		background-color: $white;
		padding: 40px 0;
		@media screen and (min-width: $screen-lg-min) {
			padding: 80px 0;
		}
		h4 {
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 60px;
			}
		}
	}
	&-line {
		@extend .is-row;
		@extend .middle__xs;
		&__item {
			position: relative;
			p {
				font-size: 13px;
			}
			@media screen and (max-width: $screen-sm-max) {
				.is-icons {
					margin-bottom: 15px;
				}
			}
			@media screen and (min-width: $screen-md-min) {
				padding: 100px 0 130px;
				p {
					font-size: 14px;
				}
				.inner {
					position: absolute;
					left: 0;
				}
			}
			@media screen and (min-width: $screen-xl-min) {
				p {
					font-size: 16px;
				}
			}
		}
		@media screen and (max-width: $screen-sm-max) {
			.is-col:not(:last-child) {
				.dealerPage-line__item {
					padding-bottom: 50px;
					background: url("../images/decorVert.svg") no-repeat bottom 15px left 30px;
				}
			}
		}
		@media screen and (min-width: $screen-md-min) {
			.is-col:nth-child(odd) {
				.inner {
					top: 0;
				}
			}
			.is-col:nth-child(even) {
				.inner {
					bottom: 0;
				}
			}
			.is-col:first-child {
				.dealerPage-line__item {
					&:after {
						content: '';
						width: 16px;
						height: 230px;
						background: url("../images/decorArrow.svg") no-repeat bottom,
						url("../images/decorLineV.svg") repeat-y center;
						position: absolute;
						bottom: -130px;
						left: 34px;
						z-index: 2;
					}
				}
			}
			.is-col:not(:last-child) {
				.dealerPage-line__item {
					&:before {
						content: '';
						width: calc(100% - 100px);
						height: 2px;
						background: url("../images/decorLine.svg") repeat-x center;
						position: absolute;
						top: -25px;
						bottom: 0;
						margin: auto;
						right: 0;
					}
				}
			}
		}
		.is-col:last-child {
			.is-icons {
				background-color: $color-type-4a;
			}
		}
	}
	&-form {
		padding: 40px 0 0;
		@media screen and (min-width: $screen-md-min) {
			padding: 80px 0 0;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 80px 0;
		}
		h4 {
			margin-top: 0;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 40px;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			.form__group {
				margin-bottom: 50px;
			}
		}
	}
	&-contacts {
		padding-bottom: 80px;
		margin-bottom: 60px;
		margin-top: 50px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 0;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-bottom: 100px;
		}
		h2 {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 60px;
			}
		}
		a {
			color: $white-lighten;
		}
		&__inner {
			padding: 20px;
			position: relative;
			z-index: 1;
			color: $white-lighten;
			background-color: $color-type-4a;
			@media screen and (min-width: $screen-md-min) {
				padding: 30px;
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 60px 80px;
			}
		}
		&-img-1 {
			position: absolute;
			right: -15px;
			top: -30px;
			@media screen and (max-width: $screen-sm-max) {
				top: -15px;
				img {
					height: 50px;
				}
			}
		}
		&-img-2 {
			position: absolute;
			right: -50px;
			bottom: -40px;
			@media screen and (max-width: $screen-sm-max) {
				right: -10px;
				bottom: -20px;
				img {
					height: 50px;
				}
			}
		}
		&-back {
			position: absolute;
			left: 47%;
			bottom: -90px;
			z-index: 0;
			img {
				max-width: inherit;
			}
		}
		.footer-title {
			&:after {
				background-color: #11ce42;
			}
		}
	}
}

.accordion {
	margin-top: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
	&-header {
		font-family: 'geometriaBold';
		padding: 17px 25px 17px 0;
		border-top: 1px solid #e5e5e5;
		position: relative;
		@extend .is-icons;
		@extend .is-icons--plus;
		display: block;
		font-size: 15px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 16px;
			padding: 20px 30px 20px 0;
		}
		&::before {
			font-size: 15px;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			@media screen and (min-width: $screen-md-min) {
				font-size: 21px;
			}
		}
		&.active {
			@extend .is-icons--minus;
		}
	}
	&-content {
		width: 80%;
		display: none;
		padding-bottom: 20px;
	}
}

.questionsPage {
	.tab-content {
		margin-bottom: 100px;
	}
	.margBot-40 {
		margin-bottom: 0;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
	h5 {
		font-size: 16px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 20px;
		}
	}
	&-form {
		padding: 20px 0;
		margin-bottom: 100px;
		position: relative;
		@media screen and (min-width: $screen-xl-min) {
			padding: 50px 0;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 10px;
			@media screen and (min-width: $screen-xl-min) {
				margin-bottom: 40px;
			}
		}
		.form__group {
			margin-bottom: 15px;
		}
		form {
			color: $white-lighten;
			padding: 15px;
			position: relative;
			z-index: 1;
			background-color: $color-type-4a;
			.checkbox {
				margin-bottom: 20px;
			}
			textarea {
				height: 80px;
				@media screen and (min-width: $screen-md-min) {
					height: auto;
				}
			}
			@media screen and (min-width: $screen-md-min) {
				padding: 30px;
				.checkbox {
					margin-bottom: 0;
				}
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 60px 80px;
			}
			.control {
				color: $white-lighten;
				background-color: transparent;
				border-color: rgba($white-lighten, 0.5);
				@include placeholder($white-lighten);
			}
			.file_upload {
				border-color: rgba($white-lighten, 0.5);
			}
			.text--white,
			a {
				color: rgba($white-lighten, 0.5);
			}
			a {
				text-decoration: underline;
			}
			.is-icons {
				@media screen and (max-width: $screen-sm-max) {
					font-size: 11px;
				}
			}
			.file_upload + .files .files-close,
			.file_upload + .files {
				color: $white-lighten;
			}
		}
		.mainForm-img{
			&-1 {
				position: absolute;
				bottom: -120px;
				right: -15px;
				@media screen and (max-width: $screen-sm-max) {
					left: auto;
				}
				img {
					width: 40px;
					@media screen and (min-width: $screen-md-min) {
						width: auto;
					}
				}
			}
			&-2 {
				position: absolute;
				bottom: -80px;
				right: -20px;
				@media screen and (min-width: $screen-md-min) {
					right: -50px;
				}
				img {
					width: 60px;
					@media screen and (min-width: $screen-md-min) {
						width: auto;
					}
				}
			}
		}
		.mainForm-back {
			bottom: 0;
			top: auto;
			right: -10%;
			left: auto;
			@media screen and (max-width: $screen-sm-max) {
				bottom: -6%;
				right: -10%;
				img {
					width: 280px;
				}
			}
		}
		.textField {
			padding: 15px;
			border: 1px solid #08ce52;
			@media screen and (min-width: $screen-md-min) {
				padding: 20px;
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 30px 50px;
			}
		}
	}
}

.contactsPage {
	.form__group {
		margin-bottom: 15px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 30px;
		}
	}
	form {
		margin-bottom: 60px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 100px;
		}
	}
	textarea {
		@media screen and (max-width: $screen-sm-max) {
			height: 90px;
		}
	}
	.btn {
		@media screen and (max-width: $screen-sm-max) {
			margin-top: 20px;
		}
	}

	#map {
		height: 360px;
		margin-left: -15px;
		margin-right: -15px;
		@media screen and (min-width: $screen-md-min) {
			margin-left: 0;
			margin-right: 0;
			position: relative;
			left: 10%;
			height: 460px;
		}
	}
	&-map {
		position: relative;
		margin-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 100px;
		}
	}
	&-info {
		padding: 30px 15px;
		margin-left: -15px;
		margin-right: -15px;
		color: $white-lighten;
		background: url("../images/logo-c.png") no-repeat center right 40px, $color-type-4a;
		a {
			color: $white-lighten;
		}
		@media screen and (min-width: $screen-md-min) {
			margin-left: 0;
			margin-right: 0;
			position: absolute;
			width: 380px;
			top: 0;
			left: 0;
			z-index: 10;
			padding: 40px 50px 40px 30px;
		}
		.iconC,
		.is-icons {
			width: 44px;
			height: 44px;
			background-color: rgba($white-lighten, 0.1);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.wherebuyPage {
	#maplist {
		height: calc(100vh - 91px);
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 0;
			//z-index: 1;
			margin-top: -195px;
		}
	}
	&-list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		@media screen and (max-width: $screen-sm-max) {
			display: none;
		}

		&_item {
			font-size: 15px;
			margin-right: 5px;
			a {
				display: inline-block;
				margin-bottom: 10px;
				line-height: 1.2;
				border-bottom: 2px solid transparent;
			}
			a:hover,
			a.active {
				//font-family: 'geometriaBold';
				border-color: $color-type-4a;
				color: $color-type-4a;
			}
		}
	}
	&-block {
		margin-bottom: 40px;
		@media screen and (min-width: $screen-xl-min) {
			margin-bottom: 100px;
		}
		&_item {
			display: flex;
			border: 1px solid #e1e1e1;
			margin-top: -1px;
			@media screen and (max-width: $screen-sm-max) {
				flex-wrap: wrap;
				margin-bottom: 15px;
			}
			p {
				margin: 0 0 8px;
			}
		}
		&_img {
			width: 100%;
			padding: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid #e1e1e1;
			@media screen and (min-width: $screen-md-min) {
				border-right: 1px solid #e1e1e1;
				border-bottom: none;
				padding: 10px;
				width: 45%;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 25%;
			}
		}
		&_desc {
			padding: 15px;
			flex-grow: 1;
			@media screen and (min-width: $screen-md-min) {
				padding: 30px;
			}
		}
	}
	&-select {
		@media screen and (min-width: $screen-md-min) {
			display: none;
		}
	}
}

.installPage {
	&-mt {
		margin-top: 6%;
	}
	&-item {
		h2 {
			margin-top: 0;
		}
	}
	.margBot-80 {
		margin-bottom: 40px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 80px;
		}
	}
	&-icons {
		margin-top: 30px;
		margin-bottom: 30px;
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 90px;
			margin-bottom: 90px;
		}
		.is-icons {
			width: 82px;
			height: 82px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(5, 165, 65, 0.08);
			border-radius: 50%;
			margin-right: 15px;
		}
	}
	&-grey {
		background-color: #f2f2f2;
		position: relative;
		padding: 20px 15px;
		margin-bottom: 120px;
		@media screen and (min-width: $screen-md-min) {
			padding: 40px;
			margin-bottom: 150px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 60px;
			margin-bottom: 220px;
		}
		h2 {
			margin-top: 0;
		}
		&:after {
			content: '';
			background-color: #f2f2f2;
			width: 100%;
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		h5 {
			margin-top: 50px;
		}
		h4 {
			font-size: 15px;
			padding: 40px 30px 150px;
			margin-bottom: 0;
			margin-left: -10px;
			background: url("../images/play-button.png") no-repeat top left / auto 100px;
			@media screen and (min-width: $screen-md-min) {
				padding: 70px 30px;
				margin-left: -30px;
				font-size: 22px;
				background: url("../images/play-button.png") no-repeat center left;
			}
			@media screen and (min-width: $screen-xl-min) {
				margin-top: 100px;
				padding: 70px 30px;
			}
		}
		.video {
			position: absolute;
			bottom: -100px;
			left: 0;
			border-bottom: 6px solid $color-type-4a;
			@media screen and (min-width: $screen-md-min) {
				right: 0;
				left: auto;
				bottom: -130px;
			}
			@media screen and (min-width: $screen-xl-min) {
				bottom: -130px;
			}
		}
	}
}

.filterBlock {
	padding: 30px 0;
	background-color: #f6f6f6;
	@media screen and (min-width: $screen-md-min) {
		padding: 50px 0;
	}
	.margBot-40 {
		margin-bottom: 10px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 100px 0;
	}
	h4 {
		margin-bottom: 40px;
	}
	&-header {
		padding: 30px 15px;
		background-color: $white-lighten;
		margin-bottom: 5px;
		.text__md {
			margin-bottom: 15px;
			display: block;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			padding: 40px;
		}
	}
	&-title {
		letter-spacing: 2.2px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&-body {
		.is-col {
			padding-left: 3px;
			padding-right: 3px;
			margin-bottom: 5px;
		}
		.is-row {
			margin-left: -3px;
			margin-right: -3px;
		}
	}
	&-item {
		text-align: center;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $white-lighten;
		@media screen and (min-width: $screen-md-min) {
			padding: 40px;
			height: 100%;
			min-height: 440px;
		}
		div {
			margin: auto;
		}
		h5 {
			margin-top: auto;
			margin-bottom: 0;
		}
	}
}

.seoBlock {
	margin: 50px 0;
	@media screen and (min-width: $screen-md-min) {
		margin: 90px 0;
	}
	.margBot-40 {
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
}

.prodBanner {
	margin-top: 40px;
	padding: 20px 0 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-left: 4px solid $color-type-4a;
	background-color: $white-lighten;
	@media screen and (min-width: $screen-md-min) {
		margin-top: 40px;
		padding: 30px 60px 0 50px;
	}
	@media screen and (min-width: $screen-xl-min) {
		margin-top: 90px;
		padding: 30px 60px 0 100px;
	}
	h2 {
		margin-top: 0;
	}
	.img {

	}
}

.prodSlider {
	color: $black;
	background: url("../images/slider-name.png") no-repeat center,
		url("../images/slider-back.jpg") no-repeat center / cover;
	@media screen and (max-width: $screen-sm-max) {
		background: url("../images/slider-name.png") no-repeat center / 90% auto,
		url("../images/mobile/biodeka.jpg") no-repeat center / cover;
	}
	&.mainSlider img {
		max-width: 100%;
	}
	.swiper-link {
		&::before {
			content: '';
			position: absolute;
			right: 100%;
			top: 0;
			bottom: 0;
			width: 70%;
			background-color: $color-type-4a;
		}
		&:hover {
			&::before {
				background-color: $base-color-main;
			}
		}
	}
	.swiper-center {
		&::before {
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			width: 100%;
			background-color: $white-lighten;
		}
	}
	.swiper-slide {
		color: $black;
		padding: 0;
		display: flex;
		align-items: flex-end;
	}
	.swiper-container {
		position: relative;
		@media screen and (min-width: $screen-md-min) {
			bottom: -45px;
		}
	}
	&.mainSlider .swiper-wrapper img {
		@media screen and (max-width: $screen-sm-max) {
			position: static;
		}
	}
	.swiper-pagination {
		position: absolute;
		right: 10px;
		top: -80px;
		width: auto;
		left: auto;
		color: #373835;
		font-size: 11px;
		&-current {
			font-size: 25px;
			color: $color-type-4a;
			font-family: 'geometriaBold';
		}
		@media screen and (min-width: $screen-md-min) {
			right: 0;
			top: 29.5%;
			font-size: 22px;
			&-current {
				font-size: 50px;
			}
		}
	}
	h1 {
		font-size: 18px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 60px;
		}
	}
	.scroll-me {
		color: $black;
		&-line {
			width: 25px;
			background-color: $black;
		}
	}
	&-slide {
		position: relative;
		z-index: 12;
	}
	&-title {
		margin-top: 6%;
		@media screen and (min-width: $screen-md-min) {
			//margin-top: 32vh;
			margin-top: 16%;
		}
		@media screen and (min-width: $screen-xl-min) {
			width: 40%;
		}
	}
	&-line {
		position: relative;
		@media screen and (max-width: $screen-sm-max) {
			.img {
				margin: auto;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			width: 60%;
			&:after {
				content: '';
				width: 85%;
				height: 136px;
				position: absolute;
				left: -5px;
				bottom: 0;
				background: linear-gradient(to right, $white-lighten 0%, $white-lighten 50%, $color-type-4a 50%, $color-type-4a 100%);
			}
		}
		@media screen and (min-width: $screen-xl-min) {
			&:after {
				height: 116px;
			}
		}
	}
	.swiper-settings {
		//z-index: 0;
	}
	&--gen {
		background: url("../images/slider-name-1.png") no-repeat center,
		url("../images/slider-back-1.jpg") no-repeat center / cover;
		@media screen and (max-width: $screen-sm-max) {
			background: url("../images/slider-name-1.png") no-repeat center / 90% auto,
			url("../images/mobile/genesis.jpg") no-repeat center / cover;
		}
	}
	&.mainSlider .swiper-link,
	&.mainSlider .swiper-center {
		left: 0;
	}
	&.mainSlider .swiper-link {
		padding-left: 0;
		height: 115.6px;
	}
	&.mainSlider .swiper-container,
	&.mainSlider .swiper-wrapper,
	&.mainSlider .swiper-slide {
		height: 100% !important;
	}
	.breadcrumbs {
		padding-bottom: 20px;
	}
}

.swiper-button-disabled {
	opacity: 0.4;
}

.rangeValues {
	display: flex;
	justify-content: flex-end;
	color: #d6d6d6;
	font-size: 24px;
	font-family: 'geometriaBold';
}

.rabgeSlider {
	margin-top: 5px;
	@media screen and (max-width: $screen-sm-max) {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}

	.noUi-marker-horizontal.noUi-marker-large {
		display: none;
	}
	.noUi-connect {
		background-color: $color-type-4a;
	}
	.noUi-value {
		color: #373835;
		font-size: 14px;
	}
	.noUi-target {
		height: 5px;
		border-radius: 2px;
		background-color: #e0e0e0;
		border: none;
		box-shadow: none;
	}
	.noUi-handle:after, .noUi-handle:before {
		display: none;
	}
	.noUi-handle {
		border: none;
		border-radius: 30px;
		cursor: default;
		width: 27px;
		height: 27px;
		box-shadow: 0 5px 26px rgba(4, 4, 4, 0);
		background-color: #ffffff;
		background-image: linear-gradient(-260deg, #46d17a 0%, #05a541 100%);
	}
	.noUi-horizontal .noUi-handle {
		top: -12px;
	}
}

.reviewsPage {
	.mainReview {
		@media screen and (min-width: $screen-md-min) {
			padding-top: 0;
			padding-bottom: 40px;
		}
	}
	&-item {
		margin-bottom: 20px;
		@media screen and (max-width: $screen-sm-max) {
			margin-bottom: 10px;
		}
	}
}

.filterBlock {
	background: #f4f4f4;
	.page-search {
		padding: 0;
		position: static;
		margin-bottom: 40px;
		.control {
			background: transparent;
			@extend h2;
			margin: 0;
		}
		&-item {
			margin-bottom: 60px;
			@media screen and (max-width: $screen-sm-max) {
				margin-bottom: 20px;
			}
			h3 {
				margin-bottom: 30px;
				@media screen and (max-width: $screen-sm-max) {
					margin-bottom: 10px;
				}
			}
			.news {
				.blogs-item__inner {
					background: url('../images/leaf-wh.png') no-repeat center bottom 30px/190px auto, #fff;
				}
				.blogs-item:hover .blogs-item__inner {
					color: #fff;
					background: url(../images/leaf.svg) no-repeat center bottom 30px/190px auto, #05a541;
				}
			}
		}
	}
	& > div {
		margin-bottom: 20px;
	}
	hr {
		border: none;
		height: 1px;
		width: 100%;
		background-color: #d9d9d9;
	}
}


.page404 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white-lighten;
	background: url("../images/page4041.jpg") no-repeat center / cover;
	min-height: 350px;
	h1 {
		font-size: 25vw;
	}
	@media screen and (min-width: $screen-sm-min) {
		min-height: 650px;
	}
	@media screen and (min-width: $screen-lg-min) {
		//min-height: 670px;
		align-items: flex-end;
		padding-bottom: 100px;
		background: url("../images/page404.jpg") no-repeat center / cover;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding-bottom: 120px;
	}
}
