footer.page-footer
	.container
		.page-footer__top
			.is-row.bottom__xs
				.is-col.is-col__xs-12.is-col__xl-5.is-col__md-4
					a.wherebuy-block(href='#')
						.footer-title полный список наших дилеров
						.footer-link Где купить?
				.is-col.is-col__xs-12.is-col__xl-7.is-col__md-8
					.is-row.top__md.between__xs.bottom__xs
						.is-col
							.footer-title адрес офиса
							.text__md Санкт-Петербург, #[br] ул. Орджоникидзе д.42 лит. Б
						.is-col
							.footer-title время работы
							.text__md Пн-Пт: #[br] 10:00 - 18:00
						.is-col
							a.text__md(href='#') Личный кабинет
		.page-footer__bottom
			.is-row.bottom__xs.between__xs.text__md
				.is-col
					div.margBot-20: a(href='#') Политика конфиденциальности
					div: a(href='#') Пользовательское соглашение
				.is-col.is-col__xs-4.is-col__xl-5.is-col__md-4.first__md
					.footer-copyright © 2018. Deka
				.is-col
					a.footer-logo(href='#')
						span Разработка сайта
						img(src='images/cm_logo.svg', alt='Cloubmill')
