header.page-header
	.page-header__inner
		.hidden__lg.hidden__xl.margRauto
			.page-logo.is-col__md-9: a(href="/"): img(src="images/logo.svg", alt="Deka")
		.page-search
			form(action='', method='POST')
				input.control(type='search', placeholder='Что Вы хотите найти?', required)
				button(type='submit')
		.page-searchm.hidden__lg.hidden__xl.hidden__md: img(src='images/search.svg', alt='')
		a.page-login(href='#')
			span
			div Личный кабинет
		a.page-click.hidden__sm.hidden__xs.popup-modal(href='#modal') Получить консультацию
		.hidden__lg.hidden__xl
			include ../components/_navbar
