.page-aside
	.page-logo
		a(href="/")
			img(src="images/logo.svg", alt="Deka")
	.page-menu
		+menu(navigation)
	.page-set
		.page-info
			a.page-info__phone(href='88005553535') 8 800 555-35-35
			br
			a.page-info__mail(href='mailto:info@deka.ru') info@deka.ru
		.page-social
			a(href='#'): span.icon-facebook
			a(href='#'): span.icon-vkontakte
			a(href='#'): span.icon-instagram
			a(href='#'): span.icon-twitter
			a(href='#'): span.icon-youtube-play
