$icons: (
	  sprite: (width: 536px, height: 467px, svgPath: '../images/svg/sprite.svg'),
 	about-1: (width: 64px, height: 63px, backgroundX: -90px, backgroundY: 0px),
 	about-2: (width: 66px, height: 66px, backgroundX: 0px, backgroundY: -70px),
 	about-3: (width: 47px, height: 57px, backgroundX: -74px, backgroundY: -156px),
 	about-4: (width: 58px, height: 58px, backgroundX: -174px, backgroundY: -78px),
 	about-5: (width: 56px, height: 50px, backgroundX: -90px, backgroundY: -83px),
 	about-6: (width: 63px, height: 58px, backgroundX: -174px, backgroundY: 0px),
 	about-7: (width: 44px, height: 44px, backgroundX: -325px, backgroundY: 0px),
 	about-8: (width: 40px, height: 35px, backgroundX: -389px, backgroundY: -61px),
 	about-9: (width: 36px, height: 36px, backgroundX: -54px, backgroundY: -362px),
 	arrow-prev: (width: 25px, height: 17px, backgroundX: -491px, backgroundY: -45px),
 	attach: (width: 15px, height: 15px, backgroundX: -491px, backgroundY: -378px),
 	attach-wh: (width: 15px, height: 15px, backgroundX: -491px, backgroundY: -413px),
 	ben-1: (width: 40px, height: 47px, backgroundX: -257px, backgroundY: -41px),
 	ben-10: (width: 38px, height: 35px, backgroundX: -115px, backgroundY: -303px),
 	ben-11: (width: 28px, height: 29px, backgroundX: 0px, backgroundY: -418px),
 	ben-2: (width: 35px, height: 45px, backgroundX: 0px, backgroundY: -238px),
 	ben-3: (width: 42px, height: 39px, backgroundX: -325px, backgroundY: -128px),
 	ben-4: (width: 42px, height: 42px, backgroundX: -325px, backgroundY: -187px),
 	ben-5: (width: 45px, height: 35px, backgroundX: -257px, backgroundY: -174px),
 	ben-6: (width: 48px, height: 21px, backgroundX: -257px, backgroundY: 0px),
 	ben-7: (width: 37px, height: 40px, backgroundX: -389px, backgroundY: -116px),
 	ben-8: (width: 38px, height: 32px, backgroundX: -325px, backgroundY: -249px),
 	ben-9: (width: 48px, height: 37px, backgroundX: -141px, backgroundY: -156px),
 	card-1: (width: 25px, height: 24px, backgroundX: -229px, backgroundY: -303px),
 	card-2: (width: 26px, height: 22px, backgroundX: -171px, backgroundY: -238px),
 	card-3: (width: 23px, height: 29px, backgroundX: -405px, backgroundY: -362px),
 	card-4: (width: 25px, height: 25px, backgroundX: -491px, backgroundY: 0px),
 	card-5: (width: 24px, height: 30px, backgroundX: -209px, backgroundY: -156px),
 	card-6: (width: 21px, height: 22px, backgroundX: -491px, backgroundY: -82px),
 	dealLIne-1: (width: 32px, height: 32px, backgroundX: -217px, backgroundY: -362px),
 	dealLIne-2: (width: 28px, height: 28px, backgroundX: -48px, backgroundY: -418px),
 	dealLIne-3: (width: 36px, height: 38px, backgroundX: -389px, backgroundY: -295px),
 	dealLIne-4: (width: 29px, height: 32px, backgroundX: -269px, backgroundY: -362px),
 	dealer-1: (width: 33px, height: 33px, backgroundX: -164px, backgroundY: -362px),
 	dealer-2: (width: 34px, height: 36px, backgroundX: 0px, backgroundY: -362px),
 	dealer-3: (width: 40px, height: 40px, backgroundX: -389px, backgroundY: -176px),
 	dealer-4: (width: 36px, height: 27px, backgroundX: -173px, backgroundY: -303px),
 	dealer-5: (width: 33px, height: 38px, backgroundX: -62px, backgroundY: -303px),
 	dealer-6: (width: 44px, height: 25px, backgroundX: -55px, backgroundY: -238px),
 	dealer-7: (width: 33px, height: 39px, backgroundX: -389px, backgroundY: -236px),
 	dealer-8: (width: 30px, height: 46px, backgroundX: -257px, backgroundY: -108px),
 	dealer-9: (width: 34px, height: 35px, backgroundX: -110px, backgroundY: -362px),
 	edit-5: (width: 41px, height: 41px, backgroundX: -389px, backgroundY: 0px),
 	edit-6: (width: 42px, height: 39px, backgroundX: 0px, backgroundY: -303px),
 	laptop: (width: 70px, height: 50px, backgroundX: 0px, backgroundY: 0px),
 	location: (width: 14px, height: 19px, backgroundX: -491px, backgroundY: -205px),
 	login: (width: 21px, height: 21px, backgroundX: -491px, backgroundY: -124px),
 	mail: (width: 17px, height: 16px, backgroundX: -491px, backgroundY: -342px),
 	minus: (width: 17px, height: 2px, backgroundX: -491px, backgroundY: -320px),
 	mouse: (width: 21px, height: 29px, backgroundX: -450px, backgroundY: 0px),
 	mouse-bl: (width: 21px, height: 29px, backgroundX: -364px, backgroundY: -362px),
 	paper-plane: (width: 32px, height: 24px, backgroundX: -119px, backgroundY: -238px),
 	pdf: (width: 20px, height: 20px, backgroundX: -491px, backgroundY: -165px),
 	phone: (width: 54px, height: 62px, backgroundX: 0px, backgroundY: -156px),
 	phone2: (width: 14px, height: 18px, backgroundX: -491px, backgroundY: -244px),
 	plus: (width: 17px, height: 18px, backgroundX: -491px, backgroundY: -282px),
 	search: (width: 42px, height: 44px, backgroundX: -325px, backgroundY: -64px),
 	slide-1: (width: 25px, height: 24px, backgroundX: -141px, backgroundY: -418px),
 	slide-2: (width: 25px, height: 23px, backgroundX: -274px, backgroundY: -303px),
 	slide-3: (width: 25px, height: 25px, backgroundX: -96px, backgroundY: -418px),
 	slide-4: (width: 26px, height: 30px, backgroundX: -318px, backgroundY: -362px),
);
