main.page-main
	section.aboutMain.animate
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1= title
			.is-row
				.is-col.is-col__md-6.is-col__xs-12.aboutMain-item
					.titleYear
						img(src='images/miniLeaf.svg', alt='')
						span 2007
					p Компания была основана в 2007 году #[br] и с каждым годом, совершенствуя своё производство, привлекая к работе высококлассных специалистов, наша компания подошла к разработке своего продукта.
				.is-col.is-col__md-6.is-col__xs-12.aboutMain-item
					.titleYear
						img(src='images/miniLeaf.svg', alt='')
						span 2009
					p После дополнительных исследований, испытаний и усовершенствований, адаптации к Российскому климату, в 2009 году установки под торговой маркой «Дека» стали производиться нами в Санкт-Петербурге и поступили в продажу.
	section.aboutInfo
		.container
			.aboutBio
				h3 За несколько лет работы, установки «Дека» заслужили #[b.text--success надежную репутацию] и получили широкое распространение #[b.text--success на всей территории Российской Федерации].
				.is-row.p-relative.end__xs
					.is-col.is-col__md-5.is-col__xs-12
						.aboutInfo-back: img(src='images/bio-g.svg', alt='')
						.aboutInfo-img: img(src='images/about-1.png', alt='')
					.is-col.is-col__md-7.is-col__xs-9
						.titleYear.margTop-30
							img(src='images/miniLeaf.svg', alt='')
							span 2014
						p.margBot-40 К 2014 году инженерами компании была разработана новая более совершенная автономная канализация BioDeka. Около года несколько пилотных установок тестировались в реальных условиях, и только после получения устойчивого успешного результата, в сентябре 2014 года было начато её серийное производство.
						a.btn.btn--success(href='#')
							span Подробнее
							span.icon-right
						.aboutInfo-desc Впервые BioDeka была представлена 19 сентября 2014 года на конференции компании «Дека».
			.aboutGen.p-relative
				.is-row
					.is-col.is-col__md-7.is-col__xs-12.p-relative
						.titleYear.margTop-30
							img(src='images/miniLeaf.svg', alt='')
							span 2017
						p.margBot-40 Осенью 2017 года после испытаний начат серийный выпуск PREMIUM станций нового поколения Genesis. Станция уникальная тем, что является единственной системой в России, оснащенной GSM – модулем в базовой комплектации.
						a.btn.btn--success(href='#')
							span Подробнее
							span.icon-right
					.is-col.is-col__md-5.is-col__xs-12
						.aboutGen-img: img(src='images/about-3.png', alt='')
			.aboutList
				h3 Компания ДЕКА выполнила и выполняет #[br] работы по нескольким десяткам #[br] муниципальных контрактов:
				ol
					li Проектирование #[br] очистных сооружений
					li Строительство #[br] очистных сооружений
					li Реконструкция #[br] очистных сооружений
				p Одни из последних законченных объектов – очистные сооружения в д.Большой Двор Бокситогорского района Ленинградской области и строительство (реконструкция) канализационных очистных сооружений хозяйственно-бытовых сточных вод поселка Цвылево Цвылевского сельского поселения Тихвинского муниципального района Ленинградской области (Комплекс очистных сооружений хозяйственно-бытовых сточных вод производительностью 200 м3/сут).
			.aboutProd.contentable
				h2 Производство
				.is-row.between__xs
					.is-col.is-col__xl-4.is-col__md-6.ia-col__xs-12.p-relative
						h5 Наша видео-презентация
						p Одним из преимуществ нашей компании является наличие собственного производства, которое оснащено самым современным оборудованием, инструментами и материалами.
						.aboutProd-img: img(src='images/play-button.png', alt='')
					.is-col.is-col__xl-7.is-col__md-6.ia-col__xs-12
						.video
							a.popup-video(href='http://www.youtube.com/watch?v=0O2aH4XLbto'): img(src="images/newsImg-4.jpg", alt='')
			.aboutImg
				img(src='images/about-3.jpg', alt='')
				.contentAbout
					i.is-icons.is-icons--about-1
					p Одним из преимуществ нашей компании является наличие собственного производства, которое оснащено самым современным оборудованием, инструментами и материалами.
			.aboutImg.aboutImg--right
				img(src='images/about-4.jpg', alt='')
				.contentAbout
					i.is-icons.is-icons--about-2
					p Часть комплектующих для установок мы изготавливаем самостоятельно, что позволяет нам быть уверенными в качестве готовой продукции, и даёт возможность постоянно повышать её надёжность.
	section.aboutBack
		.container
			.aboutProp.is-row.between__xs
				.is-col.is-col__lg-5.is-col__md-6.is-col__xs-12.margBot-70
					span.is-icons.is-icons--about-3
					p Мы очень требовательны к качеству закупаемых материалов и составных частей выпускаемой продукции. Основным критерием отбора является надежность.
				.is-col.is-col__lg-5.is-col__md-6.is-col__xs-12.margBot-70
					span.is-icons.is-icons--about-4
					p На производстве внимательно и строго следуют всем рекомендациям по хранению и работе с материалами и изделиями, будь то листы полипропилена, насосы, аэраторы или другие комплектующие.
				.is-col.is-col__lg-5.is-col__md-6.is-col__xs-12.margBot-70
					span.is-icons.is-icons--about-5
					p Часть производства изготавливает очистные сооружения больших объёмов для коммунальных хозяйств. В этом направлении мы работаем как с муниципальными, так и с крупными частными заказчиками.
				.is-col.is-col__lg-5.is-col__md-6.is-col__xs-12.margBot-70
					span.is-icons.is-icons--about-6
					p Производство с каждым годом наращивает темпы и объёмы выпускаемой продукции. Мы стараемся удовлетворить потребности и дилеров и розничных покупателей.
			.mainSert.p-relative
				.mainSert-inner
					.is-col__md-8
						h2 Сертификаты
						p Продукция компании "Дека" имеет всю необходимую документацию: сертификаты соответствия, гигиенические заключения, которые подтверждают полное соответствие продукции жестким нормативам СанПиН РФ.
					.swiper-sert
						.swiper-wrapper.popup-gallery
							- for (var x = 1; x < 3; x++)
								a.swiper-slide(href='images/main-gal_8.jpg')
									.mainSert-search: img(src='images/search-wh.svg', alt='')
									.mainSert-back
										span
										img(src='images/main-gal_8.jpg', alt='')
									.mainSert-txt Сертификат поставщика продукции, товаров, работ и услуг для государственных и муниципальных нужд
								a.swiper-slide(href='images/main-gal_8.jpg')
									.mainSert-search: img(src='images/search-wh.svg', alt='')
									.mainSert-back
										span
										img(src='images/main-gal_8.jpg', alt='')
									.mainSert-txt Рекомендации руководителям государственных и муниципальных образований
								a.swiper-slide(href='images/main-gal_8.jpg')
									.mainSert-search: img(src='images/search-wh.svg', alt='')
									.mainSert-back
										span
										img(src='images/main-gal_8.jpg', alt='')
									.mainSert-txt Сертификат менеджмента качества ISO 9001:2011
								a.swiper-slide(href='images/main-gal_8.jpg')
									.mainSert-search: img(src='images/search-wh.svg', alt='')
									.mainSert-back
										span
										img(src='images/main-gal_8.jpg', alt='')
									.mainSert-txt Декларации о соответствии на установки серий Дека и Дека-Проф
						.swiper-settings
							.swiper-btnS-prev: span.icon-left
							.swiper-btnS-next: span.icon-right
				.text--center.margTop-80.p-relative
					a.btn.btn--success(href='#')
						span Сертификаты и награды
						span.icon-right
				.mainSert-color
			.aboutStore
				h2.margBot-30 Склады
				.is-row.between__xs
					.is-col.is-col__md-5.is-col__xs-12
						p Компания имеет региональные склады: в Москве, Краснодаре, Екатеринбурге. Наличие больших складских мощностей и запасов комплектующих обеспечивает дополнительное конкурентное преимущество и позволяет предлагать клиентам короткие сроки изготовления и поставки оборудования.
					.is-col.is-col__xl-6.is-col__md-7.is-col__xs-12
						ul
							li
								span.is-icons.is-icons--about-7
								span Москва
							li
								span.is-icons.is-icons--about-8
								span Краснодар
							li
								span.is-icons.is-icons--about-9
								span Екатеринбург
			.aboutGarantee
				h2.margBot-30 Гарантия
				p По всей выпускаемой продукции завод изготовитель несет следующие следующую гарантийные обязательства:
				.inner
					.inner-item
						h5 Септики
						.is-row
							.is-col.is-col__md-6.is-col__xs-12.inner-border
								.text__lg.margBot-30 Стандартные гарантийные условия:
								.is-row.margBot-30
									.is-col.is-col__xl-2.is-col__md-3.is-col__xs-3.text--center: b.text--success.inner-num 12
									.is-col.is-col__md-8.is-col__xs-9
										b.text--success месяцев
										p на электрооборудование #[br] при правильной эксплуатации
								.is-row
									.is-col.is-col__xl-2.is-col__md-3.is-col__xs-3: b.text--success.inner-num 36
									.is-col.is-col__md-8.is-col__xs-9
										b.text--success месяцев
										p на работу технологического оборудования установки при условии своевременного обслуживания
							.is-col.is-col__md-6.is-col__xs-12
								.text__lg.margBot-30 Расширенные гарантийные условия:
								.is-row
									.is-col.is-col__md-2.is-col__xs-3.text--left__md.text--center: b.text--success.inner-num 5
									.is-col.is-col__xl-8.is-col__md-9.is-col__xs-9
										b.text--success лет
										p.margBot-20 общая гарантия при условии заключения договора технического (сервисного) обслуживания с сервисным центром производителя или авторизированным сервисным центром.
										p.text--dgrey.text__sm За начало гарантийного срока принимается дата продажи установки (дата подписания договора купли-продажи и соответствующей отметки об этом в гарантийном таллоне технического паспорта).
					.inner-item
						.is-row
							.is-col.is-col__md-6.is-col__xs-12
								h5 Жироуловители
								.is-row.top__xs.margBot-30
									.is-col.is-col__md-2.is-col__xs-4: b.text--success.inner-num 36
									.is-col.is-col__md-8.is-col__xs-8
										b.text--success месяцев
										p на работоспособность изделия
								.is-row.top__xs
									.is-col.is-col__xl-2.is-col__md-3.is-col__xs-4.text--center: b.text--success.inner-num 6
									.is-col.is-col__md-8.is-col__xs-8
										b.text--success месяцев
										p на уплотнитель
							.is-col.is-col__md-6.is-col__xs-12
								h5 Погреба
								.is-row.top__xs
									.is-col.is-col__md-4.is-col__xs-4: b.text--success.inner-num 180
									.is-col.is-col__xl-8.is-col__md-7.is-col__xs-7
										b.text--success месяцев
										p на корпус погреба
				.margTop-60
					a.btn.btn--success(href='#')
						span Подробнее о гарантии
						span.icon-right
