main.page-main
	include ../components/_cardInfo
	include ../components/_cardBen
	section.cardMod
		.container
			h2 Модификации продукции
			table.table.table--hover
				thead
					tr
						th Модель
						th Количество человек
						th Залповый сброс, л
						th Объем переработки, м3/сут
						th Габариты, м
						th Потребляемая мощн., вт
				tbody
					- for (var x = 1; x < 7; x++)
						tr
							td: b BioDeka-5 C-800
							td(data-title='Количество человек') 5
							td(data-title='Залповый сброс, л') 250
							td(data-title='Объем переработки, м3/сут') 1,00
							td(data-title='Габариты, м') 1,06х1,06х2,34
							td(data-title='Потребляемая мощн., вт') 60
	include ../components/_cardSert
	section.cardBlogs
		.container
			h2 Статьи с этим продуктом
			include ../components/_blogs
			.text--center.margTop-60
				a.btn.btn--success(href='#')
					span Все статьи
					span.icon-right
	include ../components/_review
	include ../components/_cardForm
