main.page-main
	section.feedbackPage
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			h3.regular.margBot-30 Текст, описывающий следующие шаги #[br] по данному отзыву со стороны компании.
