main.page-main
	section.contactsPage
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			.contactsPage-map
				.contactsPage-info
					.is-row.margBot-30.middle__xs
						.is-col.is-col__xs-2
							span.iconC: img(src='images/icons/location.svg', alt='')
						.is-col.is-col__xs-10
							b Адрес:
							.text__md г. Санкт-Петербург, ул. Якорная, 10/2, литер А, оф. 309
					.is-row.margBot-30.middle__xs
						.is-col.is-col__xs-2
							span.iconC: img(src='images/icons/phone2.svg', alt='')
						.is-col.is-col__xs-10
							b Телефон:
							.text__md: a(href='tel:88124589098') 8 (812) 458-90-98
					.is-row.middle__xs
						.is-col.is-col__xs-2
							span.iconC: img(src='images/icons/mail.svg', alt='')
						.is-col.is-col__xs-10
							b E-mail:
							.text__md: a(href='mailto:info@biodeka.ru') info@biodeka.ru
				script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOHU9S0Ohhctt2VS6Qu3JrmaIjqFQNYk&callback=initMap", defer)
				#map
			form(method='POST', action='')
				h2.margBot-40 Свяжитесь с нами
				.is-row.between__xs
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
						.form__group
							input.control(type='text', placeholder='ФИО')
						.form__group
							input.control(type='email', placeholder='Ваш Email')
						.form__group
							.file_upload
								span.is-icons.is-icons--attach
								span.button Прикрепить файл
								input(type="file")
							.files.between__xs.middle__xs
								.inner
								.files-close
									span.icon-cancel
					.is-col.is-col__md-6.is-col__xs-12
						.form__group
							textarea.control(rows='9', placeholder='Сообщение')
				.is-row.middle__xs.between__xs
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
						.checkbox
							input(type="checkbox", id='item', checked)
							label(for='item') Нажимая на кнопку Отправить, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
					.is-col.is-col__md-6.is-col__xs-12
						button.btn.btn--success.btn--full(type='submit')
							span Отправить
							span.icon-right
