main.page-main
	section.dealerPage
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta Стать дилером
				p.text__lg “Дека” - это компания с многолетним опытом в области производства очистных сооружений.
			h4 Преимущества работы с нами
			.is-row.benefitsComp.between__xs
				.is-col.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-1
						div Наличие собственных складов на территории России (Москва, Краснодар, Екатеринбург)
				.is-col.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-2
						div Собственный центр компетенции (обучение дилеров, монтажников, выдача сертификатов)
				.is-col.is-col__xl-3.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-3
						div Собственная сервисная #[br] служба
				.is-col.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-4
						div Гибкая система скидок в зависимости от объемов реализации
				.is-col.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-5
						div Расширенная гарантия #[br] на продукцию до 5 лет
				.is-col.is-col__xl-3.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-6
						div Организации логистики #[br] по всей территории РФ
				.is-col.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-7
						div Неизменное и гарантированное качество продукции
				.is-col.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-8
						div Бесплатная горячая линия #[br] 8-800-123-45-67
				.is-col.is-col__xl-3.is-col__md-4.is-col__xs-12
					.dealerPage-item
						span.is-icons.is-icons--dealer-9
						div Отсрочка платежа
	section.dealerPage-howto
		.container
			h4 Как стать дилером
			.dealerPage-line.benefitsComp
				.is-col.is-col__md-3.is-col__xs-12
					.dealerPage-line__item
						span.is-icons.is-icons--dealLIne-1
						.inner
							p.text__lg.text--success: b Заявка
							p Вы звоните или оставляете заявку на сайте
				.is-col.is-col__md-3.is-col__xs-12
					.dealerPage-line__item
						span.is-icons.is-icons--dealLIne-2
						.inner
							p.text__lg.text--success: b Договор
							p Подписываем договор и закрепляем за Вами #[br] персонального менеджера
				.is-col.is-col__md-3.is-col__xs-12
					.dealerPage-line__item
						span.is-icons.is-icons--dealLIne-3
						.inner
							p.text__lg.text--success: b Продукция
							p Мы отгружаем Вам продукцию
				.is-col.is-col__md-3.is-col__xs-12
					.dealerPage-line__item
						span.is-icons.is-icons--dealLIne-4
						.inner
							p.text__lg.text--success: b Итог
							p Увеличение прибыли. Успешное развитие Вашего бизнеса
	section.dealerPage-form
		.container
			h4 Оставить заявку
			form(method='POST', action='')
				.is-row.middle__xs
					.is-col.is-col__md-4.is-col__xs-12
						.form__group
							input.control(type='text', placeholder='ФИО')
					.is-col.is-col__md-4.is-col__xs-12
						.form__group
							input.control(type='text', placeholder='Ваш телефон', name='phone')
					.is-col.is-col__md-4.is-col__xs-12
						.form__group
							input.control(type='email', placeholder='Ваш Email')
					.is-col.is-col__md-4.is-col__xs-12
						.form__group
							.checkbox
								input(type="checkbox", id='item', checked)
								label(for='item') Нажимая на кнопку Получить консультацию, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
					.is-col.is-col__md-4.is-col__xs-12
						.form__group
							.file_upload
								span.is-icons.is-icons--attach
								span.button Прикрепить файл
								input(type="file")
							.files.between__xs.middle__xs
								.inner
								.files-close
									span.icon-cancel
					.is-col.is-col__md-4.is-col__xs-12
						.form__group
							button.btn.btn--success.btn--full(type='submit')
								span Стать дилером
								span.icon-right
	section.dealerPage-contacts
		.container.p-relative
			.dealerPage-contacts__inner.is-col__md-9
				.dealerPage-contacts-img-1: img(src='images/main-leaf-3.png', alt='')
				.dealerPage-contacts-img-2: img(src='images/main-leaf-2.png', alt='')
				h2 Контактные данные отдела #[br] по работе с дилерской сетью
				.is-row
					.is-col.is-col__md-4.is-col__xs-12
						b.text__lg Иванов #[br] Иван Иванович
					.is-col.is-col__md-4.is-col__xs-12
						.footer-title телефон
						p 8 (812) 123-45-67
					.is-col.is-col__md-4.is-col__xs-12
						.footer-title email
						p mynameis@deka.ru
			.dealerPage-contacts-back: img(src='images/dealerImg.jpg', alt='')
