main.page-main
	section.feedbackPage
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			form(method='POST', action='')
				.is-row.between__xs
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
						.form__group
							input.control(type='text', placeholder='ФИО')
						.form__group
							input.control(type='email', placeholder='Ваш Email')
						.form__group
							select.control
								option(selected="selected") Выберите продукт отзыва
								option(value='deka') Deka
								option(value='kelder') Kelder
						.form__group
							.file_upload
								span.is-icons.is-icons--attach
								span.button Прикрепить файл
								input(type="file")
							.files.between__xs.middle__xs
								.inner
								.files-close
									span.icon-cancel
					.is-col.is-col__md-6.is-col__xs-12
						.form__group
							textarea.control(rows='13', placeholder='Ваш отзыв')
				.is-row.middle__xs.between__xs
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
						.checkbox
							input(type="checkbox", id='item', checked)
							label(for='item') Нажимая на кнопку Отправить, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
					.is-col.is-col__md-6.is-col__xs-12
						button.btn.btn--success.btn--full(type='submit')
							span Отправить
							span.icon-right
