main.page-main
	section.mainSlider.mainHeight.animate
		.swiper-main.swiper-container
			.swiper-wrapper
				.swiper-slide(style='background: url("images/slide-1.jpg") no-repeat center / cover')
					.container
						.is-row.between__xs.p-relative
							.is-col.is-col__md-8.is-col__xs-12
								h1 Автономная #[br] канализация БиоДека
								h5 Станции глубокой биологической очистки БиоДека.
								.is-row
									.is-col.is-col__md-6.is-col__xs-9.middleCenteredFlex.margBot-20
										span.is-icons: img(src='images/icons/slide-1.svg', alt='')
										span От 3 #[br] до 150 человек
									.is-col.is-col__md-6.is-col__xs-9.middleCenteredFlex.margBot-20
										span.is-icons: img(src='images/icons/slide-3.svg', alt='')
										span Высокая степень очистки #[br] сточных вод (до 98%)
									.is-col.is-col__md-6.is-col__xs-9.middleCenteredFlex.margBot-20
										span.is-icons: img(src='images/icons/slide-2.svg', alt='')
										span Отсутствие #[br] неприятных запахов
									.is-col.is-col__md-6.is-col__xs-9.middleCenteredFlex.margBot-20
										span.is-icons: img(src='images/icons/slide-4.svg', alt='')
										span Расширенная #[br] 5-летняя гарантия
								a.btn.btn--outlined(href='#')
									span О продукте
									span.icon-right
							.is-col.is-col__md-4.is-col__xs-12: img(src='images/main-gal_1.png', alt='')
				.swiper-slide.swiper-slide--sec(style='background: url("images/slide-2.jpg") no-repeat center / cover')
					.container
						.is-row.between__xs.p-relative
							.is-col.is-col__md-7.is-col__xs-9
								h1 Погреба KELDER
								h5 Готовые погреба KELDER  из полипропилена #[br] для хранения овощей, солений и продуктов #[br] питания 365 дней в году.
								a.btn.btn--outlined(href='#')
									span О продукте
									span.icon-right
							.is-col.is-col__md-5.is-col__xs-12: img(src='images/main-gal_01.png', alt='')
			.swiper-settings
				.container
					.is-row.stretch__xs
						.is-col.is-col__md-4.hidden__sm.hidden__xs
							a.anchor.scroll-me(href='#scroll')
								span.is-icons.is-icons--mouse
								span.scroll-me-line
								span.text--white Начните листать
						.is-col.is-col__md-2.is-col__xs-12.swiper-center
							.swiper-btn-prev: span.icon-left
							.swiper-loader
								svg.progress(width='30', height='30', viewBox='0 0 30 30')
									circle(cx='15', cy='15', r='14', fill='none', stroke='#e1e1e1', stroke-width='2')
									circle.progress__value(cx='15', cy='15', r='14', fill='none', stroke='#05a541', stroke-width='2')
							.swiper-btn-next: span.icon-right
						.is-col.is-col__md-6.is-col__xs-12.swiper-link
							div: img(src='images/5years.svg', alt='')
							div
								p.text__md Расширенная гарантия на всю продукцию
								include ../components/_link
	section.mainHits(name='scroll')
		.container
			.is-row
				.is-col.is-col__md-6.is-col__xs-12
					.mainHits-item
						.mainHits-item_img: img(src='images/main-gal_2.png', alt='')
						.is-col__xs-6
							h2.padTop-30 BioDeka
							.margBot-100 Автономная канализация #[br] для загородного #[br] дома и дачи.
							.margBot-30 Смотрите еще #[br] 20+ моделей BioDeka
							a.btn.btn-link.text--success(href='#')
								span Подробнее
								span.icon-right
				.is-col.is-col__md-6.is-col__xs-12
					.mainHits-item
						.mainHits-item_img.mainHits-item_img--he: img(src='images/main-gal_3.png', alt='')
						.is-col__xs-6
							h2.padTop-30 Genesis
							.margBot-100 Уникальная автономная станция биологической очистки нового поколения.
							.margBot-30 Смотрите еще #[br] 8+ моделей Genesis
							a.btn.btn-link.text--success(href='#')
								span Подробнее
								span.icon-right
	section.mainServices
		.container
			h2 Услуги
			.is-row.stretch__xs
				.is-col.is-col__md-4.is-col__xs-12
					.mainServices-item.mainServices-item--suc
						.mainServices-num 01
						h3 Строительство
						ul.list--unstyled
							li Прокладка инженерных коммуникаций
							li Строительство очистных сооружений
							li Монтаж комплектных очистных сооружений
						div: a.btn.btn__sm.btn--success(href='#')
							span Показать больше
							span.icon-right
				.is-col.is-col__md-4.is-col__xs-12
					.mainServices-item.mainServices-item--prim
						.mainServices-num 02
						h3 Проектирование
						ul.list--unstyled
							li Техническое обследование объектов
							li Проектирование очистных сооружений
							li Согласование проекта в экспертизе
						div: a.btn.btn__sm.btn--primary(href='#')
							span Показать больше
							span.icon-right
				.is-col.is-col__md-4.is-col__xs-12
					.mainServices-item.mainServices-item--info
						.mainServices-num 03
						h3 Производство
						ul.list--unstyled
							li Производство ёмкостей
							li Производство прочих изделий по ТЗ заказчика
						div: a.btn.btn__sm.btn--info(href='#')
							span Показать больше
							span.icon-right
	section.mainBenefits
		.container.scrollme
			.text--center.scrollme-inner.hidden__xs.hidden__sm
				.animateme(
					data-when="exit"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-350"
				)
					img(src='images/scrollMe-1.png', alt='')
				.animateme(
					data-when="exit"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-400"
				)
					img(src='images/scrollMe-2.png', alt='')
				.animateme(
					data-when="exit"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-300"
				)
					img(src='images/scrollMe-3.png', alt='')
				.animateme(
					data-when="exit"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-200"
				)
					img(src='images/scrollMe-4.png', alt='')
				.secBlock
					img(src='images/scrollMe-5.png', alt='')
				.firstBlock
					img(src='images/scrollMe-6.png', alt='')
			.text--center.scrollme-inner.hidden__md.hidden__lg.hidden__xl
				.animateme(
					data-when="span"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-150"
				)
					img(src='images/scrollMe-1.png', alt='')
				.animateme(
					data-when="span"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-200"
				)
					img(src='images/scrollMe-2.png', alt='')
				.animateme(
					data-when="span"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-100"
				)
					img(src='images/scrollMe-3.png', alt='')
				.animateme(
					data-when="span"
					data-crop=true
					data-from="0.5"
					data-to="0"
					data-translatey="-100"
				)
					img(src='images/scrollMe-4.png', alt='')
				.secBlock
					img(src='images/scrollMe-5.png', alt='')
				.firstBlock
					img(src='images/scrollMe-6.png', alt='')
			.div
				h2 Преимущества продукции
				.is-col__md-7
					.is-row.benefitsComp
						.is-col.is-col__md-6.middleCenteredFlex.margBot-80
							span.is-icons.is-icons--ben-1
							span Расширенная #[br] 5-летняя гарантия
						.is-col.is-col__md-6.middleCenteredFlex.margBot-80
							span.is-icons.is-icons--ben-2
							span Высокое качество #[br] очистки стоков
						.is-col.is-col__md-6.middleCenteredFlex.margBot-80
							span.is-icons.is-icons--ben-3
							span Отсутствие #[br] неприятных запахов
						.is-col.is-col__md-6.middleCenteredFlex.margBot-80
							span.is-icons.is-icons--ben-4
							span Очистка любых #[br] хозяйственно-бытовых #[br] стоков
						.is-col.is-col__md-6.middleCenteredFlex.margBot-80
							span.is-icons.is-icons--ben-5
							span Монтаж в любом #[br] типе грунта
						.is-col.is-col__md-6.middleCenteredFlex.margBot-80
							span.is-icons.is-icons--ben-6
							span Не "всплывает" #[br] в высоких #[br] грунтовых водах
				a.btn.btn--success(href='#')
					span В каталог продукции
					span.icon-right
	include ../components/_review
	section.mainBlogs
		.container
			h2 Анонсы блога
			include ../components/_blogs
			.text--center.margTop-60
				a.btn.btn--success(href='#')
					span Все статьи
					span.icon-right
	section.mainSert
		.container.p-relative
			.mainSert-inner
				h2 Сертификаты
				.swiper-sert
					.swiper-wrapper.popup-gallery
						- for (var x = 1; x < 3; x++)
							a.swiper-slide(href='images/main-gal_8.jpg')
								.mainSert-search: img(src='images/search-wh.svg', alt='')
								.mainSert-back
									span
									img(src='images/main-gal_8.jpg', alt='')
								.mainSert-txt Сертификат поставщика продукции, товаров, работ и услуг для государственных и муниципальных нужд
							a.swiper-slide(href='images/main-gal_8.jpg')
								.mainSert-search: img(src='images/search-wh.svg', alt='')
								.mainSert-back
									span
									img(src='images/main-gal_8.jpg', alt='')
								.mainSert-txt Рекомендации руководителям государственных и муниципальных образований
							a.swiper-slide(href='images/main-gal_8.jpg')
								.mainSert-search: img(src='images/search-wh.svg', alt='')
								.mainSert-back
									span
									img(src='images/main-gal_8.jpg', alt='')
								.mainSert-txt Сертификат менеджмента качества ISO 9001:2011
							a.swiper-slide(href='images/main-gal_8.jpg')
								.mainSert-search: img(src='images/search-wh.svg', alt='')
								.mainSert-back
									span
									img(src='images/main-gal_8.jpg', alt='')
								.mainSert-txt Декларации о соответствии на установки серий Дека и Дека-Проф
					.swiper-settings
						.swiper-btnS-prev: span.icon-left
						.swiper-btnS-next: span.icon-right
			.text--center.margTop-80.p-relative
				a.btn.btn--success(href='#')
					span Сертификаты и награды
					span.icon-right
			.mainSert-color
	section.mainForm
		.container.p-relative
			form.is-col__xl-7.is-col__md-9.is-col__xs-11(method='POST', action='')
				h2 Оставьте заявку на консультацию
				.form__group
					input.control(type='text', placeholder='Ваш телефон', name='phone')
				.form__group
					input.control(type='email', placeholder='Ваш Email')
				.form__group
					textarea.control(placeholder='Комментарий')
				.form__group.margBot-40
					.checkbox
						input(type="checkbox", id='item', checked)
						label(for='item') Нажимая на кнопку Получить консультацию, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
				button.btn.btn--outlined.btn--full.btn--js(type='submit')
					span Получить консультацию
					span.icon-right
				button.btn.btn--outlined.btn--full.sent--js(style='display:none')
					span Отправить еще
					span.icon-right
				.mainForm-img-1.paroller(data-paroller-factor="0.4" data-paroller-type="foreground"): img(src='images/main-leaf-1.png', alt='')
				.mainForm-img-2.paroller(data-paroller-factor="0.4" data-paroller-type="foreground"): img(src='images/main-leaf-2.png', alt='')
			.mainForm-back.hidden__xs.hidden__sm: img(src='images/main-gal_7.jpg', alt='')
	section.mainSign
		.container
			h2 Подписаться на наши новости
			form(action='', method='POST')
				input(type='email', placeholder='Ваш Email', required)
				button(type='submit')
					span.is-icons.is-icons--paper-plane
