main.page-main
	section.installPage.contentable
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			.is-row
				.is-col.is-col__md-6.is-col__xs-12.installPage-item
					h2.text--success 01
					p Для установки станции необходимо вырыть котлован соответствующий габаритам станции плюс 300 мм со всех сторон для обсыпки станции песком. Глубина котлована должна быть вырыта также с учетом габаритов станции плюс  100 мм на отсыпку основания песком.
				.is-col.is-col__md-6.is-col__xs-12.installPage-item
					h2.text--success 02
					p Допускается использование только просеянного песка без крупных частиц. Местоположение котлована должно обеспечивать возможность подведения к станции «BioDeka» всех магистралей сточной воды с учетом уклона трубы в земле (от 1 до 2 см на 1 метр длины), также обеспечивать подведение магистралей для отвода очищенной воды (самотеком или принудительно).
				.is-col.is-col__md-6.is-col__xs-12.installPage-item
					h2.text--success 03
					p К котловану должен подводится питающий электрический провод  (сечение провода 3х0,75, или 4х0,75 в случае подключения в доме аварийной сигнализации), уложенный в защитную гофру или трубу ПНД диаметром 16-25 мм.
				.is-col.is-col__md-6.is-col__xs-12.installPage-item
					h2.text--success 04
					p Подводящая магистраль врезается в станцию «BioDeka» в пределах высот указанных на картинке (габариты врезки в станциях больше стандартных размеров уточняйте в офисах продаж), и герметизируется помощью сварки полипропилеленовым прутком.
			.is-row.between__xs.margTop-80.margBot-80
				.is-col.is-col__md-8.is-col__xs-12
					img(src='images/schema.svg', alt='')
				.is-col.is-col__xl-2.is-col__md-3.is-col__xs-6.installPage-mt
					img(src='images/list.png', alt='')
			table.table.table--hover
				thead
					tr
						th Модель
						th #[span.text--success.text__md Х] – Глубина залегания подводящей трубы, мм
						th #[span.text--success.text__md У] – Глубина залегания отводящей трубы, мм
				tbody
					tr
						td: b BioDeka от 5 до 20 C-800
						td(data-title='Х – Глубина залегания подводящей трубы, мм') 300 – 800
						td(data-title='У – Глубина залегания отводящей трубы, мм') до 550
					tr
						td: b BioDeka 5 и 8 С-1300
						td(data-title='Х – Глубина залегания подводящей трубы, мм') 800 – 1300
						td(data-title='У – Глубина залегания отводящей трубы, мм') до 1050
					tr
						td: b BioDeka 5 и 8 С-1800
						td(data-title='Х – Глубина залегания подводящей трубы, мм') 1300 – 1800
						td(data-title='У – Глубина залегания отводящей трубы, мм') до 1550
			div
				span.icon-attention-alt.text--success
				span.text--dgrey.text__sm Информацию по станциям BioDeka производительностью от 6 м3/сут до 25 м3/сут уточняйте в отделе продаж.
			.is-row.installPage-icons
				.is-col.is-col__md-6.is-col__xs-12.middleCenteredFlex.margBot-20
					span.is-icons.is-icons--edit-5.is-col__md-3.is-col__xs-12
					span.is-col__xl-7.is-col__md-9.is-col__xs-12 Для безопасности рабочих земляные работы следует проводить с применением опалубки, особенно в случаях сильно сыпучих грунтов или плывуна.
				.is-col.is-col__md-6.is-col__xs-12.middleCenteredFlex.margBot-20
					span.is-icons.is-icons--ben-3.is-col__md-3.is-col__xs-12
					span.is-col__xl-7.is-col__md-9.is-col__xs-12 Для правильной работы автономной канализации BioDeka и для предотвращения неприятных запахов в доме, необходимо предусмотреть при строительстве дома вентиляцию фанового стояка.
			.installPage-grey
				h2 Обслуживание очистных сооружений «BioDeka»
				p Обслуживание установок отличается простотой и не требует специальных знаний. Автономная канализация "BioDeka" создавалась с учетом возможности самостоятельного обслуживания пользователем.
				h5 Для обслуживания необходимо:
				blockquote 1 раз в месяц органолептический контроль выходящей воды на отсутствие запаха; визуальный контроль работы установки при открытой крышке. При необходимости – удалить возможный плавающий неорганический мусор и возможные биообразования.
				blockquote Контролировать точку выхода очищенной воды на отсутствие неприятного запаха и осадка.
				blockquote 1 раз в 3-6 месяцев откачка излишков активного ила. Количество ила, образующегося в установке, нестабильно и зависит от времени года, от качества воды, от количества пользователей, от регулярности поступления стоков, от водопотребления, и т.д. Поэтому ил удаляется в зависимости от заполнения стабилизатора ила. Подробно о процедуре откачки ила вы найдёте в паспорте к установке.
				blockquote 1 раз в 6 месяцев - очистка фильтра компрессора. При сильной запыленности в месте работы установки, данную процедуру следует производить чаще. Для этого, в верхней части воздуходувки снимают крышку вместе с фильтром. В зависимости от степени загрязнения, промывают водой, просушивают, возвращают на место; ‒ очистка стенок камеры чистой воды. Время от времени или в ходе обслуживания, необходимо очистить щёткой стенки камеры от слоя отложившегося ила; ‒ очистка насосов эрлифтов.
				h4 Видео монтажа ЛОС Дека 5
				.video.is-col__xl-7.is-col__md-6
					a.popup-video(href='http://www.youtube.com/watch?v=0O2aH4XLbto'): img(src="images/videoImg.jpg", alt='')



