main.page-main
	section.newsPage
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			.blogs.is-row
				.is-col.is-col__md-4.is-col__xs-12
					a.blogs-item(href='#')
						.blogs-item__img: img(src='images/newsImg.jpg', alt='')
						.blogs-item__inner
							.blogs-item__title Представляем вам новые жироуловители
							.blogs-item__desc Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
							.is-row.between__xs.flex-nowrap
								.is-col.blogs-item__link
									.btn.btn-link
										span Подробнее
										span.icon-right
								.is-col.blogs-item__date
									.num 12
									.type ИЮЛЯ, #[br] 2018
				.is-col.is-col__md-8.is-col__xs-12
					.is-row.h-100
						.is-col.is-col__xs-12
							a.blogs-item.blogs-item--lg(href='#')
								.blogs-item__inner.h-1002
									.is-row.between__xs.top__xs
										.blogs-item__title.is-col.is-col__xl-5.is-col.is-col__md-6 Компании ДЕКА приглашает на выставку СтройЭкспоКрым в Ялте
										.blogs-item__desc.is-col.is-col__md-6 Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
									.is-row.between__xs.mt-auto.flex-nowrap
										.is-col.blogs-item__link
											.btn.btn-link
												span Подробнее
												span.icon-right
										.is-col.blogs-item__date
											.num 12
											.type ИЮЛЯ, #[br] 2018
						.is-col.is-col__md-6.is-col__xs-12
							a.blogs-item(href='#')
								.blogs-item__inner.h-1002
									.blogs-item__title Представляем вам новые жироуловители
									.blogs-item__desc Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
									.is-row.between__xs.mt-auto.flex-nowrap
										.is-col.blogs-item__link
											.btn.btn-link
												span Подробнее
												span.icon-right
										.is-col.blogs-item__head
											.blogs-item__date
												.num 12
												.type ИЮЛЯ, #[br] 2018
						.is-col.is-col__md-6.is-col__xs-12
							a.blogs-item(href='#')
								.blogs-item__inner.h-1002
									.blogs-item__title Представляем вам новые жироуловители
									.blogs-item__desc Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
									.is-row.between__xs.mt-auto.flex-nowrap
										.is-col.blogs-item__link
											.btn.btn-link
												span Подробнее
												span.icon-right
										.is-col.blogs-item__date
											.num 12
											.type ИЮЛЯ, #[br] 2018
				.is-col.is-col__md-8.is-col__xs-12
					a.blogs-item.blogs-item--lg(href='#')
						.blogs-item__inner.h-1002
							.is-row.between__xs.top__xs
								.blogs-item__title.is-col.is-col__xl-5.is-col__md-6 Компании ДЕКА приглашает на выставку СтройЭкспоКрым в Ялте
								.blogs-item__desc.is-col.is-col__md-6 Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
							.is-row.between__xs.mt-auto.flex-nowrap
								.is-col.blogs-item__link
									.btn.btn-link
										span Подробнее
										span.icon-right
								.is-col.blogs-item__date
									.num 12
									.type ИЮЛЯ, #[br] 2018
				.is-col.is-col__md-4.is-col__xs-12
					a.blogs-item(href='#')
						.blogs-item__inner.h-1002
							.blogs-item__title Представляем вам новые жироуловители
							.blogs-item__desc Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
							.is-row.between__xs.mt-auto.flex-nowrap
								.is-col.blogs-item__link
									.btn.btn-link
										span Подробнее
										span.icon-right
								.is-col.blogs-item__date
									.num 12
									.type ИЮЛЯ, #[br] 2018
