main.page-main
	section.newsPageOne.contentable
		.container
			include ../components/_breadcrumbs
			.is-row.between__xs
				.is-col.is-col__xl-9.is-col__md-10.is-col__xs-12
					img(src="images/newsImg-2.jpg", alt='')
					.blogs-item__head.margTop-20
						.blogs-item__date
							.num 12
							.type ИЮЛЯ, #[br] 2018
						.blogs-item__tag Обслуживание
					hr
					h3 Компании ДЕКА приглашает на выставку СтройЭкспоКрым в Ялте
					p Дорогие друзья!
					br
					p Приглашаем Вас посетить совместный стенд компании "Дека" и "Дека Крым" на выставке "СтройЭкспоКрым", которая пройдет в Ялте с 19 по 21 апреля.
					br
					p На территории нашего стенда №54 Вы сможете поближе познакомиться со станциями глубокой биологической очистки БиоДека и Genesis, получить консультацию наших технических специалистов, узнать об особенностях установки и эксплуатации данных станций. Также Вы сможете получить рекламные брошюры и проспекты.
					br
					p Будем рады видеть Вас на выставке!
					br
					img(src="images/newsImg-3.jpg", alt='')
					h3 Компании ДЕКА приглашает на выставку СтройЭкспоКрым в Ялте
					p Дорогие друзья!
					br
					p Приглашаем Вас посетить совместный стенд компании "Дека" и "Дека Крым" на выставке "СтройЭкспоКрым", которая пройдет в Ялте с 19 по 21 апреля.
					br
					p На территории нашего стенда №54 Вы сможете поближе познакомиться со станциями глубокой биологической очистки БиоДека и Genesis, получить консультацию наших технических специалистов, узнать об особенностях установки и эксплуатации данных станций. Также Вы сможете получить рекламные брошюры и проспекты.
					br
					p Будем рады видеть Вас на выставке!
					ul.list--bullet
						li Маркированный список
						li Маркированный список
					ol.list--number
						li Нумерованный список
						li Нумерованный список
					br
					a(href="#")
						span.is-icons.is-icons--pdf
						span Здесь может быть файл PDF
					br
					.video
						a.popup-video(href='http://www.youtube.com/watch?v=0O2aH4XLbto'): img(src="images/newsImg-4.jpg", alt='')
					br
					hr
					h5.margBot-30.margTop-40 Другие новости
				.is-col.is-col__xl-1.is-col__md-2.hidden__xs.hidden__sm.p-relative
					.news-social.sticky
						a(href='#'): span.is-icons.is-icons--arrow-prev
						a(href='#'): span.icon-instagram
						a(href='#'): span.icon-twitter
						a(href='#'): span.icon-vkontakte
						a(href='#'): span.icon-facebook
						span поделиться
			.blogs.swiper-blog.sticky-stopper
				.swiper-wrapper
					- for (var x = 1; x < 4; x++)
						.is-col.is-col__md-4.is-col__xs-12.swiper-slide
							a.blogs-item(href='#')
								.blogs-item__inner.h-1002
									.blogs-item__title Представляем вам новые жироуловители
									.blogs-item__desc Приглашаем Вас посетить совместный стенд компании "Дека" и "Дека Крым" на выставке "СтройЭкспоКрым", которая пройдет в Ялте с 19 по 21 апреля.
									.is-row.between__xs.mt-auto.flex-nowrap
										.is-col.blogs-item__link
											.btn.btn-link
												span Подробнее
												span.icon-right
										.is-col.blogs-item__date
											.num 12
											.type ИЮЛЯ, #[br] 2018
				.swiper-settings
					.swiper-btn-prev: span.icon-left
					.swiper-btn-next: span.icon-right
