main.page-main
	section.page404
		.container.text--center
			h1.hidden__lg.hidden__xl 404
			h3 Страница не найдена.
			.margTop-20
				a.btn.btn--outlined(href='/')
					span На Главную
					span.icon-right
