main.page-main
	section.contentable
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
				h2.text--success Заголовок
				p Для установки станции необходимо вырыть котлован соответствующий габаритам станции плюс 300 мм со всех сторон для обсыпки станции песком. Глубина котлована должна быть вырыта также с учетом габаритов станции плюс  100 мм на отсыпку основания песком.
				h3.text--success Заголовок
				p Допускается использование только просеянного песка без крупных частиц. Местоположение котлована должно обеспечивать возможность подведения к станции «BioDeka» всех магистралей сточной воды с учетом уклона трубы в земле (от 1 до 2 см на 1 метр длины), также обеспечивать подведение магистралей для отвода очищенной воды (самотеком или принудительно).
				h4.text--success Заголовок
				p К котловану должен подводится питающий электрический провод  (сечение провода 3х0,75, или 4х0,75 в случае подключения в доме аварийной сигнализации), уложенный в защитную гофру или трубу ПНД диаметром 16-25 мм.
				h5.text--success Заголовок
				p Подводящая магистраль врезается в станцию «BioDeka» в пределах высот указанных на картинке (габариты врезки в станциях больше стандартных размеров уточняйте в офисах продаж), и герметизируется помощью сварки полипропилеленовым прутком.
				h6.text--success Заголовок
				p Обслуживание установок отличается простотой и не требует специальных знаний. Автономная канализация "BioDeka" создавалась с учетом возможности самостоятельного обслуживания пользователем.
				ul.list--bullet
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
				h5 Для обслуживания необходимо:
				blockquote 1 раз в месяц органолептический контроль выходящей воды на отсутствие запаха; визуальный контроль работы установки при открытой крышке. При необходимости – удалить возможный плавающий неорганический мусор и возможные биообразования.
				blockquote Контролировать точку выхода очищенной воды на отсутствие неприятного запаха и осадка.
				blockquote 1 раз в 3-6 месяцев откачка излишков активного ила. Количество ила, образующегося в установке, нестабильно и зависит от времени года, от качества воды, от количества пользователей, от регулярности поступления стоков, от водопотребления, и т.д. Поэтому ил удаляется в зависимости от заполнения стабилизатора ила. Подробно о процедуре откачки ила вы найдёте в паспорте к установке.
				blockquote 1 раз в 6 месяцев - очистка фильтра компрессора. При сильной запыленности в месте работы установки, данную процедуру следует производить чаще. Для этого, в верхней части воздуходувки снимают крышку вместе с фильтром. В зависимости от степени загрязнения, промывают водой, просушивают, возвращают на место; ‒ очистка стенок камеры чистой воды. Время от времени или в ходе обслуживания, необходимо очистить щёткой стенки камеры от слоя отложившегося ила; ‒ очистка насосов эрлифтов.
				ul.list--number
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sequi?



