main.page-main
	section.mainSlider.prodSlider.animate
		.container.p-relative
			include ../components/_breadcrumbs
			.is-row.p-relative.subHeight
				.is-col.is-col__xl-4.is-col__md-5.is-col__xs-12.prodSlider-title
					h1= title
					p Автономная канализация #[br] для загородного дома и дачи
				.is-col.is-col__xl-4.is-col__md-4.is-col__xs-12.prodSlider-slide
					.swiper-prod.swiper-container
						.swiper-wrapper
							- for (var x = 1; x < 6; x++)
								.swiper-slide
									.img: img(src='images/slider-1.png', alt='')
				.is-col.is-col__xl-4.is-col__md-3.is-col__xs-12
					.swiper-pagination
				.swiper-settings.is-col.is-col__xs-12
					.is-row.stretch__xs
						.is-col.is-col__md-3.hidden__sm.hidden__xs
							a.anchor.scroll-me(href='#scroll')
								span.is-icons.is-icons--mouse-bl
								span.scroll-me-line
								span Начните листать
						.is-col.is-col__md-2.is-col__xs-12.swiper-center
							.swiper-btn-prev: span.icon-left
							.swiper-loader
								svg.progress(width='30', height='30', viewBox='0 0 30 30')
									circle(cx='15', cy='15', r='14', fill='none', stroke='#e1e1e1', stroke-width='2')
									circle.progress__value(cx='15', cy='15', r='14', fill='none', stroke='#05a541', stroke-width='2')
							.swiper-btn-next: span.icon-right
						.is-col.is-col__md-4.is-col__xs-12
						.is-col.is-col__md-3.is-col__xs-12.swiper-link
							div: img(src='images/5years.svg', alt='')
							div
								p.text__md Расширенная гарантия на всю продукцию
								include ../components/_link
	section.filterBlock(name='scroll')
		.container
			h4 Факты о BioDeka
			.is-row.benefitsComp
				.is-col.is-col__md-4.is-col__xs-12.middleCenteredFlex.margBot-40
					span.is-icons.is-icons--ben-1
					span Расширенная #[br] 5-летняя гарантия
				.is-col.is-col__md-4.is-col__xs-12.middleCenteredFlex.margBot-40
					span.is-icons.is-icons--ben-5
					span Монтаж в любом #[br] типе грунта
				.is-col.is-col__md-4.is-col__xs-12.middleCenteredFlex.margBot-40
					span.is-icons.is-icons--ben-3
					span Отсутствие #[br] неприятных запахов
				.is-col.is-col__md-4.is-col__xs-12.middleCenteredFlex.margBot-40
					span.is-icons.is-icons--ben-7
					span Не подвержена #[br] коррозии
				.is-col.is-col__md-4.is-col__xs-12.middleCenteredFlex.margBot-40
					span.is-icons.is-icons--ben-8
					span Не боится перепадов #[br] напряжения
				.is-col.is-col__md-4.is-col__xs-12.middleCenteredFlex.margBot-40
					span.is-icons.is-icons--card-4
					span Небольшой вес
			h4 Продукты BioDeka
			.is-row.between__xs.filterBlock-title
				.is-col.text__xs фильтр:
				.is-col.text__xs.resetFilter--js сбросить #[b x]
			.filterBlock-header
				.is-row.middle__xs.margBot-20.between__xs
					.is-col.is-col__md-8.is-col__xs-12
						.is-row.between__xs.middle__xs
							.is-col: b.text__md Количество человек
							.is-col
								.rangeValues
									#skip-value-lower
									span -
									#skip-value-upper
					.is-col.is-col__md-3.is-col__xs-12.hidden__sm.hidden__xs
						b.text__md Отвод очищенного стока
				.is-row.between__xs
					.is-col.is-col__md-8.is-col__xs-12
						.rabgeSlider
							#skipstep
					.is-col.is-col__md-3.is-col__xs-12
						.hidden__md.hidden__lg.hidden__xl
							b.text__md Отвод очищенного стока
						.form__group
							+fieldRadio('Принудительный ', 'item1', 'radio', true)
							+fieldRadio('Самотечный', 'item2', 'radio', false)
			.filterBlock-body
				.is-row.stretch__xs.blogs--js
					- for (var x = 1; x < 6; x++)
						.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
							a.filterBlock-item(href='#')
								div: img(src='images/prod-1.png', alt='')
								h5 BioDeka-3
						.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
							a.filterBlock-item(href='#')
								div: img(src='images/prod-2.png', alt='')
								h5 BioDeka-5
						.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
							a.filterBlock-item(href='#')
								div: img(src='images/prod-3.png', alt='')
								h5 BioDeka-10
			.is-col.is-col__md-4.m-auto.margTop-40
				button.btn.btn--success.btn--full.btn--dashed#loadMore Смотреть еще
			a.prodBanner(href='#')
				.title.text--nowrap
					b.text__sm.text--dgrey.text--uppercase смотрите так же
					h2.alpha Genesis
				.img
					img(src='images/arrow.svg', alt='')
				.img
					img(src='images/banner.png', alt='')
	section.seoBlock
		.container
			.is-col__md-7
				h4.margBot-40 Блок SEO-текста
				p В основе этой технологии лежит биохимическое окисление органических  загрязнений микроорганизмами активного ила в аэробных условиях. #[br] Проектная производительность установок «BioDeka» всего модельного ряда учитывает водоотведение от одного потребителя в объеме 200 л сточных вод в сутки.
