main.page-main
	section.questionsPage
		.container
			include ../components/_breadcrumbs
			.margBot-40
				ul.title.tabs
					li.tab-link.current(data-tab="tab-1"): h1.beta Блог
					li.tab-link(data-tab="tab-2"): h2 Вопросы и ответы
			div#tab-1.tab-content.current
				.blogs.is-row.blogs--js
					- for (var x = 1; x < 14; x++)
						.is-col.is-col__md-4.is-col__xs-12
							a.blogs-item(href='#')
								.blogs-item__img: img(src='images/main-gal_6.jpg', alt='')
								.blogs-item__inner
									.blogs-item__head
										.blogs-item__date
											.num 12
											.type ИЮЛЯ, #[br] 2018
										.blogs-item__tag Новости
									.blogs-item__title Главные правила использования для BioDeka-5
									.blogs-item__desc BioDeka-5 пользуется самым большим спросом среди нашей продукции. Узнайте большео преимуществах и условиях установки и пользования.
									.blogs-item__link
										.btn.btn-link
											span Подробнее
											span.icon-right
				.is-col.is-col__md-4.m-auto.margTop-40
					button.btn.btn--success.btn--full.btn--dashed#loadMore Смотреть еще
			div#tab-2.tab-content.contentable
				h5 Вопросы по сервису
				.accordion
					.accordion-item
						.accordion-header Как и где купить?
						.accordion-content Широкая сеть официальных дилеров во всех регионах Российской Федерации. Полный список дилеров вы можете узнать на #[a(href='#') этой странице.]
					.accordion-item
						.accordion-header Как обслуживать BioDeka?
						.accordion-content Широкая сеть официальных дилеров во всех регионах Российской Федерации. Полный список дилеров вы можете узнать на #[a(href='#') этой странице.]
				h5 Вопросы по эксплуатации
				.accordion
					- for (var x = 1; x < 5; x++)
						.accordion-item
							.accordion-header Как обслуживать BioDeka?
							.accordion-content Широкая сеть официальных дилеров во всех регионах Российской Федерации. Полный список дилеров вы можете узнать на #[a(href='#') этой странице.]
				h5 Вопросы по монтажу
				.accordion
					- for (var x = 1; x < 5; x++)
						.accordion-item
							.accordion-header Как обслуживать BioDeka?
							.accordion-content Широкая сеть официальных дилеров во всех регионах Российской Федерации. Полный список дилеров вы можете узнать на #[a(href='#') этой странице.]
				.questionsPage-form
					form.is-col__md-10.is-col__xs-11(method='POST', action='')
						h2 Не нашли ответ на ваш вопрос?
						.textField.margTop-30.margBot-30
							.is-row.middle__xs
								.is-col.is-col__md-6.is-col__xs-12
									.is-row.middle__xs.flex-nowrap
										.is-col
											span.is-icons.is-icons--phone
										.is-col
											span Позвоните по номеру
											br
											b 8 (800) ХХХ-ХХ-ХХ
								.is-col.is-col__md-6.is-col__xs-12
									.is-row.middle__xs.flex-nowrap
										.is-col
											span.is-icons.is-icons--laptop
										.is-col
											span Или спросите здесь
						.is-row
							.is-col.is-col__md-6.is-col__xs-12
								.form__group
									input.control(type='text', placeholder='ФИО')
								.form__group
									input.control(type='text', placeholder='Ваш телефон', name='phone')
								.form__group
									input.control(type='email', placeholder='Ваш Email')
								.form__group
									.file_upload
										span.is-icons.is-icons--attach-wh
										span.button Прикрепить файл
										input(type="file")
									.files.between__xs.middle__xs
										.inner
										.files-close
											span.icon-cancel
							.is-col.is-col__md-6.is-col__xs-12
								.form__group
									textarea.control(rows='11', placeholder='Ваш вопрос')
						.is-row.middle__xs
							.is-col.is-col__md-6.is-col__xs-12
								.checkbox
									input(type="checkbox", id='item', checked)
									label.text--white(for='item') Нажимая на кнопку Отправить, Вы соглашаетесь #[a(href='#') с условиями обработки персональных данных]
							.is-col.is-col__md-6.is-col__xs-12
								button.btn.btn--outlined.btn--full(type='submit')
									span Отправить
									span.icon-right
						.mainForm-img-1.paroller(data-paroller-factor="0.2" data-paroller-type="foreground"): img(src='images/main-leaf-1.png', alt='')
						.mainForm-img-2.paroller(data-paroller-factor="0.2" data-paroller-type="foreground"): img(src='images/main-leaf-2.png', alt='')
					.mainForm-back
						.hidden__md.hidden__xl.hidden__lg
							img(src='images/mobile/4.jpg', alt='')
						.hidden__xs.hidden__sm
							img(src='images/main-gal_7.jpg', alt='')
