main.page-main
	section.reviewsPage
		.container
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			.mainReview.mainReview-inner
				.is-row
					.is-col.is-col__md-6.is-col__xs-12.reviewsPage-item
						.mainReview--video
							a.watchMark.popup-video(href='http://www.youtube.com/watch?v=0O2aH4XLbto'): img(src='images/watch.svg', alt='')
							img(src='images/main-gal_5.jpg', alt='')
							.mainReview-info
								span
								.text__md
									div #[span.text--success Ирина,] Красное Село
									i.text--grey отзыв о BioDeka-5
					- for (var x = 1; x < 6; x++)
						.is-col.is-col__md-6.is-col__xs-12.reviewsPage-item
								.mainReview--txt
									img(src='images/main-gal_5.jpg', alt='')
									.mainReview-text Вода дома кристально чистая, с установкой не было никаких проблем. Обслуживание Biodeka  простое и не затратное. Вам НЕ потребуется ассе-низаторская машина,  следовательно она не испортит. Вам не  придется  закупать  биологические  добавки.
									.mainReview-info
										span
										.text__md
											div #[span.text--success Сергей Орехов]
											i.text--grey отзыв о Genesis G-500
				.is-row.center__xs.margTop-40
					.is-col.is-col__md-6.is-col__xs-12
						a.btn.btn--default.btn--full(href='feedback.html')
							span Оставить отзыв
							span.icon-right
