main.page-main
	section.filterBlock
		.container
			.page-search
				form(action='', method='POST')
					input.control(type='search', placeholder=title, required)
					button(type='submit')
				hr
				p #[span.text--grey Результаты поиска по запросу:] Очистка воды
			.page-search-item
				h3 Новости
				.filterBlock-body.news
					.is-row.stretch__xs
						- for (var x = 1; x < 4; x++)
							.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
								a.blogs-item(href='#')
									.blogs-item__inner.h-1002
										.blogs-item__title Представляем вам новые жироуловители
										.blogs-item__desc Компания ДЕКА представляет жироуловители ЖУ из пищевого полипропилена для очистки хозяйственно-бытовых сточных вод ...
										.is-row.between__xs.mt-auto.flex-nowrap
											.is-col.blogs-item__link
												.btn.btn-link
													span Подробнее
													span.icon-right
											.is-col.blogs-item__date
												.num 12
												.type ИЮЛЯ, #[br] 2018
			.page-search-item
				h3 Блог
				.filterBlock-body
					.is-row.stretch__xs
						- for (var x = 1; x < 4; x++)
							.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
								a.blogs-item(href='#')
									.blogs-item__img: img(src='images/main-gal_6.jpg', alt='')
									.blogs-item__inner
										.blogs-item__head
											.blogs-item__date
												.num 12
												.type ИЮЛЯ, #[br] 2018
											.blogs-item__tag Новости
										.blogs-item__title Главные правила использования для BioDeka-5
										.blogs-item__desc BioDeka-5 пользуется самым большим спросом среди нашей продукции. Узнайте большео преимуществах и условиях установки и пользования.
										.blogs-item__link
											.btn.btn-link
												span Подробнее
												span.icon-right
			.page-search-item
				h3 Продукция
				.filterBlock-body
					.is-row.stretch__xs
						.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
							a.filterBlock-item(href='#')
								div: img(src='images/prod-1.png', alt='')
								h5 BioDeka-3
						.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
							a.filterBlock-item(href='#')
								div: img(src='images/prod-2.png', alt='')
								h5 BioDeka-5
						.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
							a.filterBlock-item(href='#')
								div: img(src='images/prod-3.png', alt='')
								h5 BioDeka-10
