main.page-main
	section.wherebuyPage
		.container.p-relative
			include ../components/_breadcrumbs
			.mainTitle
				h1.beta= title
			ul.tabs.tabs--abs
				li.tab-link.current(data-tab="tab-1")
					span.icon-th-list
					span Списком
				li.tab-link(data-tab="tab-2")
					span.icon-location
					span На карте
		div#tab-1.tab-content.current
			.container
				.wherebuyPage-select.wherebuyPage-select--js
					select.control
						option(value='city_akt') Актобе
						option(value='city_arch') Архангельск
						option(value='city_bel') Белгород
						option(value='city_br') Брянск
						option(value='city_grn') Великий Новогород
						option(value='city_vlad') Владимир
						option(value='city_vor') Воронеж
						option(value='city_eka') Екатеринбург
						option(value='city_iva') Иваново
						option(value='city_izh') Ижевск
						option(value='city_kaz') Казань
						option(value='city_kali') Калининград
						option(value='city_kal') Калуга
						option(value='city_kir') Киров
						option(value='city_koa') Комсомольск-на-Аму
						option(value='city_kr') Краснодар
						option(value='city_moc') Москва
						option(value='city_min') Минеральные воды
						option(value='city_mur') Мурманск
						option(value='city_nng') Нижний Новгоро
						option(value='city_nov') Новороссийск
						option(value='city_novch') Новочеркасск
						option(value='city_oms') Омск
						option(value='city_orl') Орёл
						option(value='city_pen') Пенза
						option(value='city_per') Пермь
						option(value='city_pet') Петрозаводск
						option(value='city_psk') Псков
						option(value='city_pat') Пятигорск
						option(value='city_rost') Ростов-на-Дону
						option(value='city_spb') Санкт-Петербург
						option(value='city_sam') Самара
						option(value='city_sar') Саранск
						option(value='city_smo') Смоленск
						option(value='city_sev') Севастополь
						option(value='city_soch') Сочи
						option(value='city_sur') Сургут
						option(value='city_tua') Туапсе
						option(value='city_tum') Тюмень
						option(value='city_ull') Ульяновск
						option(value='city_ufa') Уфа
						option(value='city_chel') Челябинск
						option(value='city_chep') Череповец
						option(value='city_sur') Южноуральск
						option(value='city_yar') Ярославль
				.wherebuyPage-list.wherebuyPage-list--js
					ul.wherebuyPage-list_item
						li: a(href='#' data-filter='city_akt') Актобе
						li: a(href='#' data-filter='city_arch') Архангельск
						li: a(href='#' data-filter='city_bel') Белгород
						li: a(href='#' data-filter='city_br') Брянск
						li: a(href='#' data-filter='city_grn') Великий Новогород
						li: a(href='#' data-filter='city_vlad') Владимир
						li: a(href='#' data-filter='city_vor') Воронеж
						li: a(href='#' data-filter='city_eka') Екатеринбург
						li: a(href='#' data-filter='city_iva') Иваново
					ul.wherebuyPage-list_item
						li: a(href='#' data-filter='city_izh') Ижевск
						li: a(href='#' data-filter='city_kaz') Казань
						li: a(href='#' data-filter='city_kali') Калининград
						li: a(href='#' data-filter='city_kal') Калуга
						li: a(href='#' data-filter='city_kir') Киров
						li: a(href='#' data-filter='city_koa') Комсомольск-на-Амуре
						li: a(href='#' data-filter='city_kr') Краснодар
						li: a(href='#' data-filter='city_moc') Москва
						li: a(href='#' data-filter='city_min') Минеральные воды
					ul.wherebuyPage-list_item
						li: a(href='#' data-filter='city_mur') Мурманск
						li: a(href='#' data-filter='city_nng') Нижний Новгород
						li: a(href='#' data-filter='city_nov') Новороссийск
						li: a(href='#' data-filter='city_novch') Новочеркасск
						li: a(href='#' data-filter='city_oms') Омск
						li: a(href='#' data-filter='city_orl') Орёл
						li: a(href='#' data-filter='city_pen') Пенза
						li: a(href='#' data-filter='city_per') Пермь
						li: a(href='#' data-filter='city_pet') Петрозаводск
					ul.wherebuyPage-list_item
						li: a(href='#' data-filter='city_psk') Псков
						li: a(href='#' data-filter='city_pat') Пятигорск
						li: a(href='#' data-filter='city_rost') Ростов-на-Дону
						li: a(href='#' data-filter='city_spb') Санкт-Петербург
						li: a(href='#' data-filter='city_sam') Самара
						li: a(href='#' data-filter='city_sar') Саранск
						li: a(href='#' data-filter='city_smo') Смоленск
						li: a(href='#' data-filter='city_sev') Севастополь
						li: a(href='#' data-filter='city_soch') Сочи
					ul.wherebuyPage-list_item
						li: a(href='#' data-filter='city_sur') Сургут
						li: a(href='#' data-filter='city_tua') Туапсе
						li: a(href='#' data-filter='city_tum') Тюмень
						li: a(href='#' data-filter='city_ull') Ульяновск
						li: a(href='#' data-filter='city_ufa') Уфа
						li: a(href='#' data-filter='city_chel') Челябинск
						li: a(href='#' data-filter='city_chep') Череповец
						li: a(href='#' data-filter='city_sur') Южноуральск
						li: a(href='#' data-filter='city_yar') Ярославль
				.wherebuyPage-block
					- for (var x = 1; x < 3; x++)
						+wherebuyItem('city_akt')
						+wherebuyItem('city_arch')
						+wherebuyItem('city_bel')
						+wherebuyItem('city_br')
						+wherebuyItem('city_mur')
						+wherebuyItem('city_vor')
						+wherebuyItem('city_vlad')
						+wherebuyItem('city_grn')
						+wherebuyItem('city_eka')
						+wherebuyItem('city_izh')
						+wherebuyItem('city_iva')
						+wherebuyItem('city_kaz')
						+wherebuyItem('city_kali')
						+wherebuyItem('city_kal')
						+wherebuyItem('city_kir')
						+wherebuyItem('city_koa')
						+wherebuyItem('city_kr')
						+wherebuyItem('city_moc')
						+wherebuyItem('city_min')
		div#tab-2.tab-content
			script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOHU9S0Ohhctt2VS6Qu3JrmaIjqFQNYk&callback=initMap1", defer)
			#maplist

