//- mixins


//- menu
mixin menu(items)
	ul.main-nav
		each item in items
			- var parent  = ''
			- if(item.subitems !== false) parent='main-nav__item--parent'
			li.main-nav__item(class=parent)
				a.main-nav__link(href=item.href, title=item.title)= item.title
				- if(item.subitems !== false)
				ul.sub-nav
					each subitem in item.subitems
						li.main-nav__item
							a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title


//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
	label(for=id)= label
	input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
	label(for=id)= label
	textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
	.checkbox
		input(type="checkbox", id=id, checked=checked)
		label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
	.radio
		input(type="radio", id=id, value=id, name=label, checked=checked)
		label(for=id)=name

//- form-radio
mixin wherebuyItem(data)
	.wherebuyPage-block_item(data-target=data)
		.wherebuyPage-block_img: img(src='images/wherebuy.jpg', alt='')
		.wherebuyPage-block_desc
			.is-row.between__xs
				.is-col.is-col__md-6.is-col__xs-12
					p: b ООО «Загород»
					p.text__md ул. Орджоникидзе д.42 лит. Б, БЦ "Звезда" оф. 8
					a.text__md.text--success(href='#'): b Сайт дилера
				.is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
					p: b.text__md +7 (812) 425-64-69
					p.text__md v-sedunov@yandex.ru
			.margTop-20.text__md.text--dgrey Москва, Ижевск, Новочеркасск, Ярославль, Москва, Ижевск, Новочеркасск, Ярославль, Москва, Ижевск, Новочеркасск, Ярославль


//- article
mixin article(title)
	.article
		.article-wrapper
			h1= title
			if block
				block
			else
				p No content provided
