extends layouts/_default

block title
    title Case__fly
    - var title = 'О компании'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_about

block siteFooter
    include partials/_footer
