extends layouts/_default

block title
    title Case__fly
    - var title = 'Типовая страница'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_page

block siteFooter
    include partials/_footer
