extends layouts/_default

block title
    title Case__fly
    - var title = 'Genesis'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_prod-gen

block siteFooter
    include partials/_footer
