extends layouts/_default

block title
    title Case__fly
    - var title = 'Вопросы и ответы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_questions

block siteFooter
    include partials/_footer
