extends layouts/_default

block title
    title Case__fly
    - var title = 'Где купить?'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_wherebuy

block siteFooter
    include partials/_footer
