//- Custom Configuration
block config
	- var baseUrl = '/'
	-var adaptive = true // choose website type

doctype html
html(lang="en")

	include ../mixins/_mixins

	head
		meta(charset="UTF-8")

		block title
			title Case__fly
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		<![endif]-->
		if adaptive == true
			meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="keywords", content="")

		meta(name='author', content='')
		link(rel="canonical" href="")
		meta(name="format-detection", content="telephone=no")
		meta(name="format-detection", content="address=no")

		// iOS
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="apple-mobile-web-app-title", content="Case__fy")

		// Android
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="theme-color", content="#f8aa27")

		// Windows
		meta(name="msapplication-TileColor", content="#f8aa27")

		// Standard

		link(rel="shortcut icon", href="favicon.ico")

		// Styles
		//- build:css({.tmp,app}) styles/plugins.css -->
		<!--bower:css-->
		<link rel="stylesheet" href="../bower_components/swiper/dist/css/swiper.css" />
		<link rel="stylesheet" href="../bower_components/magnific-popup/dist/magnific-popup.css" />
		<link rel="stylesheet" href="../bower_components/nouislider/distribute/nouislider.min.css" />
		<!--endbower-->
		//- endbuild -->
		//- build:css({.tmp,app}) styles/main.css -->
		link(rel="stylesheet", href="styles/main.css")
		//- endbuild -->

	block pageName
		-var pageName = "main"

	body(class="page-" + pageName)
		<!--[if lt IE 9]>
		p.browsehappy
			| Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
			a(href="http://browsehappy.com/", target="_blank") современных браузеров.
			|  Это бесплатно и займет всего несколько минут.
		<![endif]-->
		include ../components/_popup

		include ../partials/_sidebar
		.content
			//- header
			block siteHeader
			//- main
			block siteMain
			//- footer
			block siteFooter

		block scripts
			<!--[if lt IE 9]>
			script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
			<![endif]-->
			//- build:js(./app/) scripts/plugins.js -->
			<!--bower:js-->
			<script src="../bower_components/jquery/dist/jquery.js"></script>
			<script src="../bower_components/swiper/dist/js/swiper.js"></script>
			<script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
			<script src="../bower_components/nouislider/distribute/nouislider.js"></script>
			<script src="../bower_components/paroller.js/dist/jquery.paroller.js"></script>
			<!--endbower-->
			<script src="scripts/plugins/jquery.maskedinput.min.js"></script>
			<script src="scripts/plugins/wNumb.js"></script>
			<script src="scripts/plugins/jquery.scrollme.min.js"></script>
			//- endbuild -->
			//- build:js(.tmp) scripts/main.js -->
			script(src="scripts/main.js")
			//- endbuild -->

			//- Google Analytics: change UA-XXXXX-X to be your site's ID.
				script.
					(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
					function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
					e=o.createElement(i);r=o.getElementsByTagName(i)[0];
					e.src='//www.google-analytics.com/analytics.js';
					r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
					ga('create','UA-XXXXX-X');ga('send','pageview');
